header.header.closed    
  div.catalog_dialog
    div.catalog_dialog_content
      div.catalog_dialog_content__title 
        p Catalog 
        button.catalog_dialog_content__close_button 
          include ../svgs/close.svg
      div.catalog_dialog_content__main
        nb-skeleton(height='60px',width='360px',count='8')

  div.menu-button
    include ../svgs/menu.svg

  div.wrapper
    div(class='utils')
      div(class='container utils-row')
        div(class='utils-row__contact-info')
          social-utils

          div(class='utils-row__contact-info__email')
            svg(viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
              path(d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z')
            p Organicfood@gmail.com

        div(class='utils-row__utils') 
          div(class='utils-row__utils-item')
            include ../svgs/change_language.svg
            p English
          div(class='utils-row__utils-item')
            include ../svgs/coin.svg
            p USD

    div(class='main')
          div(class='container  main-row')
            div(class='main-row__links')
              - const navArr = [{href:'index.html',caption:'Home'},{href:'shop.html',caption:'Shop'},{href:'about.html',caption:'About'},{href:'blog.html',caption:'Blog'},{href:'contact.html',caption:'Contact'}]
                each item,idx in navArr
                  - const isActive = true
                  div(class=`main-row__links__link-wrapper ${item.href}`)
                      a(href=`${(idx === 0 ? '/' : '/pages/')+item.href}`,class='active' ) #{item.caption} 
            div(class='main-row__logo')  OrgaFresh

            div.main-row__utils
              button.main-row__utils__catalog-button 
                include ../svgs/catalog.svg
                | Catalog  

              div(class='main-row__utils-buttons-container')
                button(class=`icon-button button-compare`,data-label='0')
                  include ../svgs/compare.svg
                - const buttonsArr = [{caption:'favourite',class:'button-search',d:'M24.1699 22.7588L18.7939 17.3828C20.3125 15.542 21.1377 13.252 21.1377 10.8398C21.1377 8.08594 20.0684 5.50293 18.1201 3.55469C16.1768 1.60645 13.5889 0.537109 10.8398 0.537109C8.09082 0.537109 5.50293 1.60645 3.55469 3.55469C1.60645 5.49805 0.537109 8.08594 0.537109 10.8398C0.537109 13.5889 1.60645 16.1768 3.55469 18.125C5.49805 20.0684 8.08594 21.1426 10.8398 21.1426C13.2568 21.1426 15.5469 20.3174 17.3828 18.7988L22.7588 24.1699C23.1494 24.5605 23.7793 24.5605 24.1699 24.1699C24.5605 23.7793 24.5605 23.1494 24.1699 22.7588ZM4.96582 16.709C3.39355 15.1416 2.5293 13.0566 2.5293 10.8398C2.5293 8.62305 3.39355 6.5332 4.96094 4.96582C6.52832 3.39844 8.61328 2.53418 10.835 2.53418C13.0518 2.53418 15.1416 3.39844 16.709 4.96582C18.2764 6.5332 19.1406 8.61816 19.1406 10.8398C19.1406 13.0566 18.2764 15.1465 16.709 16.7139C15.1416 18.2812 13.0518 19.1455 10.835 19.1455C8.61816 19.1455 6.5332 18.2813 4.96582 16.709V16.709Z'},{caption:'favourite',class:'button-favourite',d:"M22.7884 3.2311C21.3426 1.78535 19.4083 0.989204 17.3411 0.989204C15.5614 0.989204 13.8804 1.57944 12.5246 2.66606C11.1493 1.57944 9.46611 0.989204 7.70381 0.989204C5.62705 0.989204 3.6876 1.78569 2.24189 3.2311C0.796143 4.67656 0 6.61123 0 8.67807C0 10.7452 0.796143 12.6796 2.24189 14.125L11.8642 23.7473C12.0396 23.923 12.2698 24.0108 12.5 24.0108C12.7296 24.0108 12.9592 23.9232 13.1349 23.7485L22.765 14.1478C24.2065 12.6739 25 10.7368 25 8.69306C25 6.63042 24.217 4.69335 22.7884 3.2311ZM21.4871 12.8819L12.5009 21.8405L3.51348 12.8534C2.40767 11.7473 1.79854 10.2644 1.79854 8.67807C1.79854 7.09174 2.40767 5.60883 3.51348 4.50273C4.61958 3.39692 6.10762 2.78779 7.70381 2.78779C9.27456 2.78779 10.7656 3.3996 11.9014 4.50991C12.2533 4.85434 12.8177 4.85131 13.1658 4.50273C14.2719 3.39692 15.7545 2.78779 17.3411 2.78779C18.9277 2.78779 20.4104 3.39692 21.509 4.4955C22.6004 5.61211 23.2014 7.10283 23.2014 8.69306C23.2014 10.2641 22.5899 11.7548 21.4871 12.8819Z" },{caption:'favourite',class:'button-basket',d:"M22.834 23.9558L21.3127 7.01419C21.2712 6.55153 20.8834 6.19715 20.419 6.19715H17.2818V4.78225C17.2818 2.14532 15.1366 0 12.4998 0C9.86313 0 7.71817 2.14532 7.71817 4.78225V6.19715H4.57886C4.11441 6.19715 3.72664 6.55153 3.68513 7.01419L2.15788 24.0224C2.13539 24.2734 2.21938 24.5221 2.38939 24.7081C2.55941 24.894 2.79977 24.9999 3.05162 24.9999H21.9464C21.9471 24.9999 21.948 24.9999 21.9488 24.9999C22.4444 24.9999 22.8461 24.5981 22.8461 24.1026C22.846 24.0527 22.8419 24.0035 22.834 23.9558ZM9.51282 4.78225C9.51282 3.13489 10.8528 1.79464 12.4999 1.79464C14.1472 1.79464 15.4873 3.13489 15.4873 4.78225V6.19715H9.51282V4.78225ZM4.03317 23.2054L5.39925 7.99179H7.71817V9.59644C7.71817 10.092 8.11981 10.4938 8.6155 10.4938C9.11118 10.4938 9.51282 10.092 9.51282 9.59644V7.99179H15.4873V9.59644C15.4873 10.092 15.889 10.4938 16.3846 10.4938C16.8803 10.4938 17.282 10.092 17.282 9.59644V7.99179H19.5987L20.9648 23.2054H4.03317V23.2054Z"}]
                each item in buttonsArr
                  button(class=`icon-button ${item.class}`,data-label='0')
                    svg(viewBox="0 0 25 25"  xmlns="http://www.w3.org/2000/svg")
                      path(d=item.d,aria-label=item.caption) 
    include ../includes/_basket_details.pug
    include ../includes/_searching_dialog.pug
    include ../includes/_compare_dialog.pug

      

