html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet",href="/style.css")
    script(src="/bundle.js")
  body 
    include includes/_header.pug

    section(class='introduction')
      div(class='glide')
        div(class="glide__bullets" data-glide-el="controls[nav]")
          button(class="glide__bullet", data-glide-dir="=0")
          button(class="glide__bullet", data-glide-dir="=1")
          button(class="glide__bullet",data-glide-dir="=2")
        div(data-glide-el="track",class="glide__track")
          ul(class="glide__slides")
            li(class="glide__slide container") 
              div(class='glide__slide-content')
                div(class='glide__slide-content__caption') Made With Love
                div(class='glide__slide-content__title') Pastery Specialtties With 100% Chocolate
                div(class='glide__slide-content__text') Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div(class='glide__slide-content__button button') Show now
              div(class='glide__slide-abstraction')
                svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 879.12502 631.48453')
                  rect#b93b1ef9-49b5-4354-905b-d9dddde45a10(data-name='Rectangle 338' x='0.27499' y='0.36501' width='644.72498' height='412.91' fill='#e6e6e6')
                  rect#ef7485f9-8ecd-46d9-949e-abdd8aa9e360(data-name='Rectangle 339' x='18.711' y='52.15401' width='607.85303' height='336.69299' fill='#fff')
                  rect#b4c2a7ec-beab-40bc-b587-23a202562f78(data-name='Rectangle 340' width='644.72498' height='27.39' fill='#3f3d56')
                  circle#bd6d3ebf-cb6f-4fcb-b7cd-ad5a287d3324(data-name='Ellipse 513' cx='20.355' cy='14.004' r='5.077' fill='#fff')
                  circle#efb1158e-7a7d-4adb-9063-fc7dc50c76d5(data-name='Ellipse 514' cx='39.624' cy='14.004' r='5.077' fill='#fff')
                  circle#b51f9e19-f36b-4f29-afd5-008bb0fc20dd(data-name='Ellipse 515' cx='58.89299' cy='14.004' r='5.077' fill='#fff')
                  rect#b636d421-4358-445b-b124-1d058e78c733(data-name='Rectangle 341' x='93.5' y='79.84801' width='118.887' height='128.98199' fill='#e6e6e6')
                  rect#ab9c902d-64a9-4a2b-a9ec-6dc7022c80f6(data-name='Rectangle 342' x='263.19299' y='79.84801' width='118.887' height='128.98199' fill='#e6e6e6')
                  rect#f4a232af-026e-479b-8040-5c62e5965d9e(data-name='Rectangle 343' x='432.88501' y='79.84801' width='118.887' height='128.98199' fill='#e6e6e6')
                  rect#ada16aa4-f84d-4851-87ee-a2852d96226a(data-name='Rectangle 344' x='93.5' y='232.17599' width='118.887' height='128.98199' fill='#e6e6e6')
                  rect#ebfcbe07-3b81-4d69-a4f5-6a8318d20e8d(data-name='Rectangle 345' x='263.19299' y='232.17599' width='118.887' height='128.98199' fill='#e6e6e6')
                  rect#ead16b6d-d132-49a9-a42f-1f570e523a46(data-name='Rectangle 346' x='432.88501' y='232.17599' width='118.887' height='128.98199' fill='#e6e6e6')
                  path#ab8ff6e3-f37e-4992-8347-ee905fdba816(data-name='Path 2643' d='M452.3655,399.58275l21.722-8.588,2.526,42.939s4.546,13.134,3.031,18.186c0,0,1.01,8.588-1.516,9.093s-9.6,1.516-10.1,1.01-.505-2.021-.505-2.021-5.052,3.536-5.557,7.577c0,0-21.217,6.567-21.722.505s10.608-11.114,10.608-11.114l8.588-13.134Z' transform='translate(-160.43749 -134.25774)' fill='#fff')
                  path#e647835b-1773-4993-9de9-376235a5ef39(data-name='Path 2644' d='M498.33749,399.58275l21.719-8.588,2.526,42.939s4.546,13.134,3.031,18.186c0,0,1.01,8.588-1.516,9.093s-9.6,1.516-10.1,1.01-.505-2.021-.505-2.021-5.052,3.536-5.557,7.577c0,0-21.217,6.567-21.722.505s10.608-11.114,10.608-11.114l8.588-13.134Z' transform='translate(-160.43749 -134.25774)' fill='#fff')
                  path#ee50e840-b8e9-4cc0-9b2e-64e12816c6e5(data-name='Path 2645' d='M500.4595,233.76773s-4.625,12.924.734,18.752l-4.468,15.353s15.874,47.622,11.339,54.274c0,0-16.932,8.466-50.8-3.024l13.757-53.367-1.965-22.526,2.721-10.583,6.047-.6s-3.628,13.606,3.024,15.723,13.141-15.383,13.141-15.383Z' transform='translate(-160.43749 -134.25774)' fill='#3f3d56')
                  path#b668efb4-5504-4326-941b-9be143c4d030(data-name='Path 2646' d='M286.85848,317.19475l5.837,2.388,27.858-36.613,8.755,42.98,5.837-1.061c3.744-37.055,6.8-74.85,3.051-92.726l-21.623-.929-9.816,31.311-4.776,21.225Z' transform='translate(-160.43749 -134.25774)' fill='#fff')
                  path#b699d661-049e-451c-8a7e-64343ac1c335(data-name='Path 2647' d='M641.11547,231.86974s-7.966,11.074-7.577,15.543,5.44,77.327,5.44,77.327l11.852.583-3.5-52.458,2.914-14.183,7.189,66.058,14.572.389-13.017-85.681-2.526-7.577Z' transform='translate(-160.43749 -134.25774)' fill='#fff')
                  path#a4f25674-ecb7-42aa-ae9a-d508200b11eb(data-name='Path 2648' d='M686.1375,410.27574c-2.115-2.538-5.751-3.91-9.242-4.652.1-.317-10.618-2.532-10.8-2.076l-4.041-3.219-12.417,6.447-6.977-4.75-3.241,1.15c.132-.572-10.061,1.194-10.061,1.194-1.947.07-4.434.192-7.218.406-9.749.75-10.5,26-10.5,26a39.85013,39.85013,0,0,1,14.113-2.955l2.635,30.2c13.553-1.162,27.767.19,42.5,3.5l6.909-23.74,16.089-6.257S691.1375,416.27474,686.1375,410.27574Z' transform='translate(-160.43749 -134.25774)' fill='#3f3d56')
                  path#b6d7fb25-d94e-4ba0-9382-3f72a4c565e4(data-name='Path 2649' d='M340.8785,395.89473c-1.743-2.091-4.738-3.222-7.615-3.833.086-.262-8.749-2.086-8.9-1.71l-3.33-2.652-10.229,5.312-5.749-3.913-2.67.948c.109-.471-8.29.983-8.29.983-1.6.058-3.654.158-5.947.335-8.033.618-8.651,21.421-8.651,21.421a32.837,32.837,0,0,1,11.629-2.435l2.171,60.914c11.167-.958,22.879.157,35.015,2.884l5.692-55.59,13.257-5.155S344.99749,400.83974,340.8785,395.89473Z' transform='translate(-160.43749 -134.25774)' fill='#fff')
                  path#abb48a01-b3b6-4bc9-9e6f-5cc93133d8eb(data-name='Path 2682' d='M909.8875,412.10872h57v-30.5a28.5,28.5,0,1,0-57,0Z' transform='translate(-160.43749 -134.25774)' fill='#2f2e41')
                  path#f1b40e10-dbea-4491-93e9-bf21ee1afe95(data-name='Path 2683' d='M884.4425,751.45272h-12.259l-5.833-47.292h18.094Z' transform='translate(-160.43749 -134.25774)' fill='#ffb6b6')
                  path#f19e2682-d3fb-40a9-8809-be7b68a78ac9(data-name='Path 2684' d='M887.56951,747.44972h-24.145a15.387,15.387,0,0,0-15.386,15.385v.5h39.531Z' transform='translate(-160.43749 -134.25774)' fill='#2f2e41')
                  path#b3618d44-3857-42e4-aed2-10e127155f21(data-name='Path 2685' d='M1030.99651,735.09173l-10.676,6.027-28.328-38.311,15.757-8.895Z' transform='translate(-160.43749 -134.25774)' fill='#ffb6b6')
                  path#a172411a-a77d-4e4f-ac70-c8342021cfb1(data-name='Path 2686' d='M1031.7515,730.06874l-21.025,11.866h0a15.387,15.387,0,0,0-5.834,20.963l.246.435,34.424-19.433Z' transform='translate(-160.43749 -134.25774)' fill='#2f2e41')
                  path#bd1532c7-07e2-44c0-82ff-fc8e0d37942d(data-name='Path 2687' d='M952.64249,538.78172l.946,4.73s2.838,2.838,1.419,4.257-.946,8.042-.946,8.042c.794,12.076,16.573,79.936,19.395,93.189,0,0,21.76,14.191,38.789,42.1s17.5,35.005,17.5,35.005l-18.918,8.043-47.3-57.238s-13.245-8.042-17.976-15.137-34.064-80.418-34.064-80.418l-16.56,76.63306s.946,27.909-3.311,45.885a192.52229,192.52229,0,0,0-4.73,34.532l-22.233-2.365s1.419-67.172,3.784-74.268c0,0-9.934-81.836,9.934-114.476l16.012-42.687,15.682-6.036Z' transform='translate(-160.43749 -134.25774)' fill='#2f2e41')
                  path#e2a54528-859f-4f0e-9aca-6130773a8d3b(data-name='Path 2688' d='M938.68153,360.56471c-29.847.51-29.842,44.907,0,45.412C968.52653,405.46672,968.5225,361.06972,938.68153,360.56471Z' transform='translate(-160.43749 -134.25774)' fill='#ffb8b8')
                  path#aeace49c-5333-476f-965d-52da8fac2318(data-name='Path 2689' d='M915.71052,382.09273h5.073l1.381-3.454-.691,3.454h27.745l-.9-7.227,6.744,7.227h6.727v-3.916a23.038,23.038,0,1,0-46.076-.03259v.03259Z' transform='translate(-160.43749 -134.25774)' fill='#2f2e41')
                  path#aa5a3aa9-e50b-4b43-b42d-0c1415925835(data-name='Path 2690' d='M907.9035,419.23473l56.4.457-11.916,120.917s-65.959-3.481-66-23.614l6.179-17.891Z' transform='translate(-160.43749 -134.25774)' fill='#3f3d56')
                  path#aca4d347-909c-4b66-b72e-6bb1477aee43(data-name='Path 2693' d='M966.7275,552.29772a9.377,9.377,0,0,1,2.7-14.122l-2.451-21.287,12.573-4.645,3.039,30.111a9.428,9.428,0,0,1-15.861,9.943Z' transform='translate(-160.43749 -134.25774)' fill='#ffb6b6')
                  path#eab38d24-ad2d-4cbe-aaaa-db975580c866(data-name='Path 2694' d='M956.8875,430.10872l7.421-10.373s5.079-1.127,11.079,5.873,9.5,94.5,9.5,94.5l-22,5-13-62Z' transform='translate(-160.43749 -134.25774)' fill='#3f3d56')
                  polygon(points='672.135 390.739 673.771 468.476 724.096 495.071 815.744 478.705 817.995 397.899 759.896 377.441 672.135 390.739' fill='#fff')
                  path(d='M884.40233,630.16805,833.4151,603.22344l-1.66142-78.9158,88.65793-13.43306.18894.06631L979.252,531.593l-2.28476,82.04559ZM835.002,602.244l49.66249,26.24458,90.73236-16.20225,2.2157-79.56639L920.256,512.52345,833.39038,525.685Z' transform='translate(-160.43749 -134.25774)' fill='#cacaca')
                  polygon(points='722.973 411.816 722.776 411.738 671.838 391.485 672.431 389.992 723.173 410.166 817.885 397.103 818.105 398.695 722.973 411.816' fill='#cacaca')
                  rect(x='883.2183' y='545.24581' width='1.60739' height='84.08562' transform='translate(-167.5157 -123.4613) rotate(-0.69695)' fill='#cacaca')
                  polygon(points='716.536 407.792 698.174 400.348 786.569 386.263 804.931 393.706 716.536 407.792' fill='#cacaca')
                  rect(x='842.41659' y='541.27671' width='1.60727' height='23.18645' transform='translate(-158.47692 974.46083) rotate(-66.70554)' fill='#cacaca')
                  rect(x='852.06024' y='567.79675' width='1.60727' height='23.18645' transform='translate(-177.00517 999.35088) rotate(-66.70554)' fill='#ef909a')
                  polygon(points='392.135 498.739 393.771 576.476 444.096 603.071 535.744 586.705 537.995 505.899 479.896 485.441 392.135 498.739' fill='#fff')
                  path(d='M604.40233,738.16805,553.4151,711.22344l-1.66142-78.9158,88.65793-13.43306.18894.06631L699.252,639.593l-2.28476,82.04559ZM555.002,710.244l49.66249,26.24458,90.73236-16.20225,2.2157-79.56639L640.256,620.52345,553.39038,633.685Z' transform='translate(-160.43749 -134.25774)' fill='#cacaca')
                  polygon(points='442.973 519.816 442.776 519.738 391.838 499.485 392.431 497.992 443.173 518.166 537.885 505.103 538.105 506.695 442.973 519.816' fill='#cacaca')
                  rect(x='603.2183' y='653.24581' width='1.60739' height='84.08562' transform='translate(-168.8501 -126.85915) rotate(-0.69695)' fill='#cacaca')
                  polygon(points='432.088 513.962 418.174 508.348 506.569 494.263 520.482 499.877 432.088 513.962' fill='#cacaca')
                  rect(x='562.41659' y='649.27671' width='1.60727' height='23.18645' transform='translate(-426.94537 782.57581) rotate(-66.70554)' fill='#cacaca')
                  rect(x='572.06024' y='675.79675' width='1.60727' height='23.18645' transform='translate(-445.47361 807.46587) rotate(-66.70554)' fill='#ef909a')
                  polygon(points='479.563 509.397 481.463 599.638 539.882 630.51 646.271 611.512 648.883 517.709 581.44 493.961 479.563 509.397' fill='#ef909a')
                  path(d='M700.16688,765.74226l-59.18795-31.27835-1.92864-91.60849,102.91755-15.59363.21933.077L810.272,651.3125l-2.65223,95.24168ZM642.821,733.327l57.65013,30.46571,105.32563-18.80819,2.57206-92.36374-66.58163-23.44486-100.837,15.2784Z' transform='translate(-160.43749 -134.25774)' fill='#3f3d56')
                  polygon(points='538.578 533.865 538.35 533.774 479.218 510.264 479.907 508.53 538.81 531.949 648.755 516.785 649.01 518.633 538.578 533.865' fill='#3f3d56')
                  rect(x='698.79241' y='667.16124' width='1.86593' height='97.60983' transform='translate(-169.09453 -125.69351) rotate(-0.69695)' fill='#3f3d56')
                  polygon(points='526.888 527.112 509.79 520.553 612.402 504.202 629.501 510.761 526.888 527.112' fill='#3f3d56')
                  rect(x='651.42821' y='662.55376' width='1.86578' height='26.91572' transform='translate(-386.96327 873.60414) rotate(-66.70554)' fill='#3f3d56')
                  rect(x='662.62293' y='693.33925' width='1.86578' height='26.91572' transform='translate(-408.47156 902.49747) rotate(-66.70554)' fill='#fff')
                  path#af1e2e82-f248-43bd-a869-489ddf745161(data-name='Path 2691' d='M861.10549,537.85072a9.377,9.377,0,0,0,3.673-13.9l11.422-18.13-9.324-9.628-15.771,25.829a9.428,9.428,0,0,0,10,15.83Z' transform='translate(-160.43749 -134.25774)' fill='#ffb6b6')
                  path#ed6195a6-5e50-4e12-8380-54bfefa6b2ae(data-name='Path 2692' d='M916.57052,424.00072l-8.183-5.392s-6.315,1.416-13.031,14.334-33.8,70.672-33.8,70.672l11.133,11.3,29.7-45.309Z' transform='translate(-160.43749 -134.25774)' fill='#3f3d56')

      svg(xmlns="http://www.w3.org/2000/svg" ,viewBox="0 0 1440 320" class='wave')
        path( d="M0,128L24,160C48,192,96,256,144,277.3C192,299,240,277,288,240C336,203,384,149,432,160C480,171,528,245,576,240C624,235,672,149,720,117.3C768,85,816,107,864,117.3C912,128,960,128,1008,122.7C1056,117,1104,107,1152,122.7C1200,139,1248,181,1296,192C1344,203,1392,181,1416,170.7L1440,160L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z")
    section(class='categories')
      div(class='container categories-row')
        - const categoriesArr = [{href:'https://via.placeholder.com/150x200/0000FF/808080',caption:'Cup cakes'},{href:'https://via.placeholder.com/150x200/0000FF/808080',caption:'Cokies'},{href:'https://via.placeholder.com/150x200/0000FF/808080',caption:'Donut Cakes'},{href:'https://via.placeholder.com/150x200/0000FF/808080',caption:'Cup Cakes'},{href:'https://via.placeholder.com/150x200/0000FF/808080',caption:'Tower Cakes'},{href:'https://via.placeholder.com/150x200/0000FF/808080',caption:'Custard Cake'}]
        each item in categoriesArr 
          div(class='categories-row__item') 
            img(href=item.href)
            p #{item.caption}
    section(class='banner')
      div(class='container banner-row')
        - const bannerArr = [{caption:'Sale of 30 %',title:'Custard Cake',text:'Legetables and cheese'},{caption:'Special recipe',title:'Fruits Taste',text:'Made with meat, vegetables and cheese'},{caption:'Valentine’s day ',title:'Sale off 30%',text:'All Chocolate Products'}]
          each item in bannerArr 
            div(class='banner-row__item') 
              div(class='banner-row__item__caption') #{item.caption}
              div(class='banner-row__item__title')  #{item.title}
              div(class='banner-row__item__text') #{item.text}
              button(class='banner-row__item__button button--contained ') Order now
    section(class='specical-products')
      div(class='container specical-products-row')
        div(class='specical-products__preview')
          img(src='https://via.placeholder.com/200x420')

        div(class='specical-products__content')
          div(class=' specical-products__content-header')
            div(class=' specical-products__content-header__title') Specical Products
            time-left
          div(class='specical-products__content-products')
            special-product(img_href='https://via.placeholder.com/150x200/0000FF/808080',sale_percent='42',is_new='true',stars='4',caption='Test 1',current_price='$20.0')
            special-product(img_href='https://via.placeholder.com/150x200',sale_percent='42',stars='3',caption='Test 2',current_price='$40.0')
            special-product(img_href='https://via.placeholder.com/150x200',sale_percent='42',stars='4',caption='Test 3',current_price='$20.0')
            special-product(img_href='https://via.placeholder.com/150x200',sale_percent='42',is_new='true',stars='2',caption='Test 4',current_price='$15.0')            
    section(class='workshop')
      svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 320",class='wave')
        path(d="M0,288L26.7,261.3C53.3,235,107,181,160,165.3C213.3,149,267,171,320,176C373.3,181,427,171,480,170.7C533.3,171,587,181,640,192C693.3,203,747,213,800,224C853.3,235,907,245,960,229.3C1013.3,213,1067,171,1120,154.7C1173.3,139,1227,149,1280,154.7C1333.3,160,1387,160,1413,160L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z")

      div(class='container workshop-row')
        div(class='workshop-abstraction')
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'  viewbox='0 0 1096 574.74')
            defs
              lineargradient#eb6c86d6-45fa-49e0-9a60-1b0612516196-257(x1='819.07' y1='732.58' x2='819.07' y2='560.46' gradientunits='userSpaceOnUse')
                stop(offset='0' stop-color='gray' stop-opacity='0.25')
                stop(offset='0.54' stop-color='gray' stop-opacity='0.12')
                stop(offset='1' stop-color='gray' stop-opacity='0.1')
              pattern#ad310e25-2b04-44c8-bb7b-982389166780-259(data-name='New Pattern 3' width='36.88' height='49.48' patternunits='userSpaceOnUse' viewbox='0 0 36.88 49.48')
                rect(width='36.88' height='49.48' fill='none')
                path(d='M4.33,13.19c4.5,0,4.51-7,0-7s-4.52,7,0,7Z')
                path(d='M4.51,17.16c4.51,0,4.52-7,0-7s-4.51,7,0,7Z')
                path(d='M4.51,20.94c4.51,0,4.52-7,0-7s-4.51,7,0,7Z')
                path(d='M3.38,24.72c4.51,0,4.51-7,0-7s-4.51,7,0,7Z')
                path(d='M1.09,28.29l.2.38a3.52,3.52,0,0,0,4.78,1.25,3.58,3.58,0,0,0,1.26-4.79l-.19-.37A3.52,3.52,0,0,0,2.35,23.5a3.59,3.59,0,0,0-1.26,4.79Z')
                path(d='M1.49,30.1l.18.57a3.73,3.73,0,0,0,1.61,2.09,3.59,3.59,0,0,0,2.7.35A3.54,3.54,0,0,0,8.42,28.8l-.18-.56a3.68,3.68,0,0,0-1.61-2.1,3.61,3.61,0,0,0-2.69-.35A3.56,3.56,0,0,0,1.49,30.1Z')
                path(d='M1.58,33.88v.38a3.54,3.54,0,0,0,3.5,3.5,3.56,3.56,0,0,0,3.5-3.5v-.38a3.54,3.54,0,0,0-3.5-3.5,3.57,3.57,0,0,0-3.5,3.5Z')
                path(d='M4.89,42.3c4.51,0,4.51-7,0-7s-4.51,7,0,7Z')
                path(d='M1.77,42v.19a3.54,3.54,0,0,0,3.5,3.5,3.56,3.56,0,0,0,3.5-3.5V42a3.54,3.54,0,0,0-3.5-3.5A3.56,3.56,0,0,0,1.77,42Z')
                path(d='M6,49.29c4.5,0,4.51-7,0-7s-4.52,7,0,7Z')
                path(d='M10,14.14c4.5,0,4.51-7,0-7s-4.52,7,0,7Z')
                path(d='M6.59,20.94c4.51,0,4.52-7,0-7s-4.51,7,0,7Z')
                path(d='M8.48,27c4.51,0,4.51-7,0-7s-4.51,7,0,7Z')
                path(d='M8.48,29.26c4.51,0,4.51-7,0-7s-4.51,7,0,7Z')
                path(d='M14.91,33.79c4.5,0,4.51-7,0-7s-4.51,7,0,7Z')
                path(d='M9.81,38.52c4.5,0,4.51-7,0-7s-4.52,7,0,7Z')
                path(d='M10.56,45.13c4.51,0,4.51-7,0-7s-4.51,7,0,7Z')
                path(d='M10.56,49.48c4.51,0,4.51-7,0-7s-4.51,7,0,7Z')
                path(d='M12.83,18.12c2.57,0,2.58-4,0-4s-2.58,4,0,4Z')
                path(d='M13,20.39c2.57,0,2.58-4,0-4s-2.58,4,0,4Z')
                path(d='M13.1,21v.19a2,2,0,0,0,4,0V21a2,2,0,0,0-4,0Z')
                path(d='M15.1,25.87c2.57,0,2.58-4,0-4s-2.58,4,0,4Z')
                path(d='M16.61,11.07a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M21.71,16.55a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M16.85,8.94V8.56a1,1,0,0,0-2,0v.38a1,1,0,0,0,2,0Z')
                path(d='M16.48,4.78V4.59a1,1,0,0,0-2,0v.19a1,1,0,0,0,2,0Z')
                path(d='M15.48,2a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M10.56,2a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M10.37,4.65a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M7.35,6.16a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M11.88,7.1h.38a1,1,0,0,0,0-2h-.38a1,1,0,0,0,0,2Z')
                path(d='M13.28,11l.57,1.32a1,1,0,0,0,1.37.36,1,1,0,0,0,.36-1.37L15,10a1,1,0,0,0-1.37-.36A1,1,0,0,0,13.28,11Z')
                path(d='M18.44,19.33v.19a1,1,0,0,0,2,0v-.19a1,1,0,0,0-2,0Z')
                path(d='M20.68,24.93l.19.38c.57,1.15,2.3.14,1.72-1l-.19-.38c-.57-1.15-2.3-.14-1.72,1Z')
                path(d='M22.13,29.38a2.48,2.48,0,0,0-.84,1.86,1,1,0,0,0,2,0,.56.56,0,0,1,.25-.44,1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0Z')
                path(d='M20.32,33.41l-.54,1.71c-.38,1.23,1.55,1.76,1.93.53l.54-1.71c.38-1.23-1.55-1.76-1.93-.53Z')
                path(d='M19.44,37h-.19a1,1,0,0,0,0,2h.19a1,1,0,0,0,0-2Z')
                path(d='M17.64,41.5l-.19.38c-.58,1.15,1.15,2.16,1.72,1l.19-.38c.58-1.15-1.15-2.16-1.72-1Z')
                path(d='M15.8,47.87v.56a1,1,0,0,0,2,0v-.56a1,1,0,0,0-2,0Z')
                path(d='M14.34,49.43a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M14.34,41.31a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M17.13,36.47a2,2,0,0,0,1-1.64,1,1,0,0,0-2,0c0-.13.19-.2,0-.08-1.15.58-.14,2.3,1,1.72Z')
                path(d='M17.37,31.29a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M18.12,28.46a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M19,24.94l.19-.38c.58-1.15-1.15-2.16-1.72-1l-.19.38c-.58,1.15,1.15,2.16,1.72,1Z')
                path(d='M17.93,16a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M24.64,16.05l.57.94a1,1,0,0,0,1.72-1L26.37,15a1,1,0,0,0-1.73,1Z')
                path(d='M34.88,29.72v.19a1,1,0,0,0,2,0v-.19a1,1,0,0,0-2,0Z')
                path(d='M24,39.23a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M22.85,29a1,1,0,0,0,0-2,1,1,0,0,0,0,2Z')
                path(d='M18.24,21.9l.57-.56c.93-.89-.48-2.3-1.41-1.41l-.58.56c-.93.89.49,2.3,1.42,1.41Z')
              lineargradient#a964f849-fa65-4178-8cc4-fb8fb10b3617-258(x1='462.91' y1='660.68' x2='462.91' y2='559.69' xlink:href='#eb6c86d6-45fa-49e0-9a60-1b0612516196-257')
            title contact us
            g(opacity='0.1')
              ellipse(cx='479.42' cy='362.12' rx='11.38' ry='14.9' fill='#3f3d56')
              path(d='M540.43,461a18,18,0,0,0,2.38-9.11c0-8.23-5.1-14.9-11.39-14.9S520,443.68,520,451.91a18,18,0,0,0,2.38,9.11,18.61,18.61,0,0,0,0,18.21,18.61,18.61,0,0,0,0,18.21,17.94,17.94,0,0,0-2.38,9.11c0,8.22,5.1,14.9,11.38,14.9s11.39-6.68,11.39-14.9a17.94,17.94,0,0,0-2.38-9.11,18.61,18.61,0,0,0,0-18.21,18.61,18.61,0,0,0,0-18.21Z' transform='translate(-52 -162.63)' fill='#3f3d56')
              ellipse(cx='479.42' cy='271.07' rx='11.38' ry='14.9' fill='#3f3d56')
              ellipse(cx='479.42' cy='252.86' rx='11.38' ry='14.9' fill='#3f3d56')
              path(d='M488.82,290.86a53.08,53.08,0,0,1-4.24-6.24l29.9-4.91-32.34.24a54.62,54.62,0,0,1-1-43.2l43.39,22.51-40-29.42a54.53,54.53,0,1,1,90,61,54.54,54.54,0,0,1,6.22,9.94L541.92,321l41.39-13.89a54.53,54.53,0,0,1-8.79,51.2,54.52,54.52,0,1,1-85.7,0,54.52,54.52,0,0,1,0-67.42Z' transform='translate(-52 -162.63)' fill='#88b13e')
              path(d='M586.19,324.57a54.27,54.27,0,0,1-11.67,33.71,54.52,54.52,0,1,1-85.7,0C481.51,349,586.19,318.45,586.19,324.57Z' transform='translate(-52 -162.63)' opacity='0.1')
            g(opacity='0.1')
              ellipse(cx='612.28' cy='330.26' rx='8.51' ry='11.13' fill='#3f3d56')
              path(d='M671,445.26a13.43,13.43,0,0,0,1.77-6.8c0-6.15-3.81-11.14-8.5-11.14s-8.51,5-8.51,11.14a13.33,13.33,0,0,0,1.78,6.8,13.9,13.9,0,0,0,0,13.61,13.9,13.9,0,0,0,0,13.61,13.33,13.33,0,0,0-1.78,6.8c0,6.15,3.81,11.14,8.51,11.14s8.5-5,8.5-11.14a13.43,13.43,0,0,0-1.77-6.8,14,14,0,0,0,0-13.61,14,14,0,0,0,0-13.61Z' transform='translate(-52 -162.63)' fill='#3f3d56')
              ellipse(cx='612.28' cy='262.22' rx='8.51' ry='11.13' fill='#3f3d56')
              ellipse(cx='612.28' cy='248.61' rx='8.51' ry='11.13' fill='#3f3d56')
              path(d='M632.44,318.11a39,39,0,0,1-3.17-4.66l22.35-3.67-24.17.18a40.84,40.84,0,0,1-.78-32.29L659.1,294.5l-29.91-22a40.75,40.75,0,1,1,67.29,45.6,41.2,41.2,0,0,1,4.65,7.43l-29,15.07,30.93-10.38a40.76,40.76,0,0,1-6.57,38.26,40.74,40.74,0,1,1-64,0,40.74,40.74,0,0,1,0-50.38Z' transform='translate(-52 -162.63)' fill='#88b13e')
              path(d='M705.2,343.3a40.57,40.57,0,0,1-8.72,25.19,40.74,40.74,0,1,1-64,0C627,361.56,705.2,338.73,705.2,343.3Z' transform='translate(-52 -162.63)' opacity='0.1')
            g(opacity='0.1')
              ellipse(cx='1038.58' cy='322.12' rx='11.38' ry='14.9' fill='#3f3d56')
              path(d='M1081.57,421a18,18,0,0,1-2.38-9.11c0-8.23,5.1-14.9,11.39-14.9s11.38,6.67,11.38,14.9a18,18,0,0,1-2.38,9.11,18.61,18.61,0,0,1,0,18.21,18.61,18.61,0,0,1,0,18.21,17.94,17.94,0,0,1,2.38,9.11c0,8.22-5.1,14.9-11.38,14.9s-11.39-6.68-11.39-14.9a17.94,17.94,0,0,1,2.38-9.11,18.61,18.61,0,0,1,0-18.21,18.61,18.61,0,0,1,0-18.21Z' transform='translate(-52 -162.63)' fill='#3f3d56')
              ellipse(cx='1038.58' cy='231.07' rx='11.38' ry='14.9' fill='#3f3d56')
              ellipse(cx='1038.58' cy='212.86' rx='11.38' ry='14.9' fill='#3f3d56')
              path(d='M1133.18,250.86a53.08,53.08,0,0,0,4.24-6.24l-29.9-4.91,32.34.24a54.62,54.62,0,0,0,1-43.2l-43.39,22.51,40-29.42a54.53,54.53,0,1,0-90,61,54.54,54.54,0,0,0-6.22,9.94L1080.08,281l-41.39-13.89a54.53,54.53,0,0,0,8.79,51.2,54.52,54.52,0,1,0,85.7,0,54.52,54.52,0,0,0,0-67.42Z' transform='translate(-52 -162.63)' fill='#88b13e')
              path(d='M1035.81,284.57a54.27,54.27,0,0,0,11.67,33.71,54.52,54.52,0,1,0,85.7,0C1140.49,309,1035.81,278.45,1035.81,284.57Z' transform='translate(-52 -162.63)' opacity='0.1')
            g(opacity='0.1')
              ellipse(cx='928.72' cy='324.26' rx='8.51' ry='11.13' fill='#3f3d56')
              path(d='M974,439.26a13.43,13.43,0,0,1-1.77-6.8c0-6.15,3.81-11.14,8.5-11.14s8.51,5,8.51,11.14a13.33,13.33,0,0,1-1.78,6.8,13.9,13.9,0,0,1,0,13.61,13.9,13.9,0,0,1,0,13.61,13.33,13.33,0,0,1,1.78,6.8c0,6.15-3.81,11.14-8.51,11.14s-8.5-5-8.5-11.14a13.43,13.43,0,0,1,1.77-6.8,14,14,0,0,1,0-13.61,14,14,0,0,1,0-13.61Z' transform='translate(-52 -162.63)' fill='#3f3d56')
              ellipse(cx='928.72' cy='256.22' rx='8.51' ry='11.13' fill='#3f3d56')
              ellipse(cx='928.72' cy='242.61' rx='8.51' ry='11.13' fill='#3f3d56')
              path(d='M1012.56,312.11a39,39,0,0,0,3.17-4.66l-22.35-3.67,24.17.18a40.84,40.84,0,0,0,.78-32.29L985.9,288.5l29.91-22a40.75,40.75,0,1,0-67.29,45.6,41.2,41.2,0,0,0-4.65,7.43l29,15.07L942,324.23a40.76,40.76,0,0,0,6.57,38.26,40.74,40.74,0,1,0,64,0,40.74,40.74,0,0,0,0-50.38Z' transform='translate(-52 -162.63)' fill='#88b13e')
              path(d='M939.8,337.3a40.57,40.57,0,0,0,8.72,25.19,40.74,40.74,0,1,0,64,0C1018,355.56,939.8,332.73,939.8,337.3Z' transform='translate(-52 -162.63)' opacity='0.1')
            g(opacity='0.1')
              ellipse(cx='61.59' cy='322.12' rx='11.38' ry='14.9' fill='#3f3d56')
              path(d='M122.59,421a18,18,0,0,0,2.38-9.11c0-8.23-5.1-14.9-11.38-14.9s-11.38,6.67-11.38,14.9a18,18,0,0,0,2.37,9.11,18.67,18.67,0,0,0,0,18.21,18.67,18.67,0,0,0,0,18.21,17.93,17.93,0,0,0-2.37,9.11c0,8.22,5.09,14.9,11.38,14.9S125,474.77,125,466.55a17.94,17.94,0,0,0-2.38-9.11,18.61,18.61,0,0,0,0-18.21,18.61,18.61,0,0,0,0-18.21Z' transform='translate(-52 -162.63)' fill='#3f3d56')
              ellipse(cx='61.59' cy='231.07' rx='11.38' ry='14.9' fill='#3f3d56')
              ellipse(cx='61.59' cy='212.86' rx='11.38' ry='14.9' fill='#3f3d56')
              path(d='M71,250.86a54.33,54.33,0,0,1-4.24-6.24l29.91-4.91L64.3,240a54.62,54.62,0,0,1-1-43.2l43.4,22.51-40-29.42a54.52,54.52,0,1,1,90,61,54.54,54.54,0,0,1,6.22,9.94L124.08,281l41.4-13.89a54.59,54.59,0,0,1-8.8,51.2,54.52,54.52,0,1,1-85.7,0,54.52,54.52,0,0,1,0-67.42Z' transform='translate(-52 -162.63)' fill='#88b13e')
              path(d='M168.35,284.57a54.27,54.27,0,0,1-11.67,33.71,54.52,54.52,0,1,1-85.7,0C63.67,309,168.35,278.45,168.35,284.57Z' transform='translate(-52 -162.63)' opacity='0.1')
            g(opacity='0.1')
              ellipse(cx='171.44' cy='324.26' rx='8.51' ry='11.13' fill='#3f3d56')
              path(d='M230.17,439.26a13.43,13.43,0,0,0,1.77-6.8c0-6.15-3.8-11.14-8.5-11.14s-8.51,5-8.51,11.14a13.43,13.43,0,0,0,1.78,6.8,13.9,13.9,0,0,0,0,13.61,13.9,13.9,0,0,0,0,13.61,13.43,13.43,0,0,0-1.78,6.8c0,6.15,3.81,11.14,8.51,11.14s8.5-5,8.5-11.14a13.43,13.43,0,0,0-1.77-6.8,14,14,0,0,0,0-13.61,14,14,0,0,0,0-13.61Z' transform='translate(-52 -162.63)' fill='#3f3d56')
              ellipse(cx='171.44' cy='256.22' rx='8.51' ry='11.13' fill='#3f3d56')
              ellipse(cx='171.44' cy='242.61' rx='8.51' ry='11.13' fill='#3f3d56')
              path(d='M191.6,312.11a40.21,40.21,0,0,1-3.17-4.66l22.35-3.67-24.17.18a40.84,40.84,0,0,1-.78-32.29l32.43,16.83-29.91-22a40.75,40.75,0,1,1,67.29,45.6,40.12,40.12,0,0,1,4.65,7.43l-29,15.07,30.93-10.38a40.76,40.76,0,0,1-6.57,38.26,40.74,40.74,0,1,1-64,0,40.74,40.74,0,0,1,0-50.38Z' transform='translate(-52 -162.63)' fill='#88b13e')
              path(d='M264.36,337.3a40.57,40.57,0,0,1-8.72,25.19,40.74,40.74,0,1,1-64,0C186.14,355.56,264.36,332.73,264.36,337.3Z' transform='translate(-52 -162.63)' opacity='0.1')
            ellipse(cx='548' cy='493.13' rx='548' ry='8.86' fill='#88b13e' opacity='0.1')
            ellipse(cx='548' cy='565.88' rx='548' ry='8.86' fill='#88b13e' opacity='0.1')
            ellipse(cx='548' cy='341.3' rx='548' ry='8.86' fill='#88b13e' opacity='0.1')
            ellipse(cx='548' cy='417.21' rx='548' ry='8.86' fill='#88b13e' opacity='0.1')
            path(d='M860.79,273a18.3,18.3,0,0,0-10.6,1.16,15.65,15.65,0,0,1-12.74,0,17.88,17.88,0,0,0-15,.29,9.24,9.24,0,0,1-4.31,1.08c-6.08,0-11.13-6.12-12.18-14.19a11.88,11.88,0,0,0,3-3.27c3.56-5.74,9.07-9.43,15.27-9.43s11.64,3.64,15.2,9.32a11.68,11.68,0,0,0,10.09,5.54h.16C854.57,263.45,858.76,267.33,860.79,273Z' transform='translate(-52 -162.63)' fill='#88b13e' opacity='0.1')
            path(d='M879.3,247.65l-9.82,6.22,6-10.84a9.7,9.7,0,0,0-5.94-2.11h-.16a11.35,11.35,0,0,1-2-.15L864,242.88l1.43-2.6a11.79,11.79,0,0,1-5.83-4.42l-6,3.78,3.76-6.84c-3.48-4.18-8.18-6.74-13.34-6.74-6.2,0-11.71,3.68-15.28,9.42a11.41,11.41,0,0,1-10.09,5.44h-.33c-6.84,0-12.38,7.75-12.38,17.31s5.54,17.32,12.38,17.32a9.39,9.39,0,0,0,4.31-1.08,17.86,17.86,0,0,1,15-.3,15.55,15.55,0,0,0,12.74,0,17.92,17.92,0,0,1,14.86.29,9.3,9.3,0,0,0,4.26,1.06c6.84,0,12.38-7.76,12.38-17.32A21.93,21.93,0,0,0,879.3,247.65Z' transform='translate(-52 -162.63)' fill='#88b13e' opacity='0.1')
            path(d='M443.26,267.59a12.84,12.84,0,0,0-7.43.81,10.92,10.92,0,0,1-8.91,0,12.48,12.48,0,0,0-10.49.21,6.62,6.62,0,0,1-3,.75c-4.25,0-7.79-4.28-8.53-9.93a8.32,8.32,0,0,0,2.13-2.29c2.49-4,6.35-6.6,10.69-6.6s8.15,2.55,10.64,6.52a8.19,8.19,0,0,0,7.07,3.88h.11C438.9,260.92,441.83,263.64,443.26,267.59Z' transform='translate(-52 -162.63)' fill='#88b13e' opacity='0.1')
            path(d='M456.21,249.86l-6.87,4.36,4.17-7.59a6.75,6.75,0,0,0-4.15-1.48h-.12a7.49,7.49,0,0,1-1.42-.11l-2.33,1.48,1-1.82a8.3,8.3,0,0,1-4.08-3.09l-4.17,2.64,2.64-4.78a12.21,12.21,0,0,0-9.34-4.73c-4.34,0-8.2,2.58-10.69,6.6a8,8,0,0,1-7.07,3.81h-.23c-4.79,0-8.67,5.42-8.67,12.12s3.88,12.12,8.67,12.12a6.5,6.5,0,0,0,3-.76,12.5,12.5,0,0,1,10.48-.2,11.1,11.1,0,0,0,4.49,1,11,11,0,0,0,4.43-.94,12.54,12.54,0,0,1,10.4.2,6.48,6.48,0,0,0,3,.74c4.78,0,8.66-5.43,8.66-12.12A15.33,15.33,0,0,0,456.21,249.86Z' transform='translate(-52 -162.63)' fill='#88b13e' opacity='0.1')
            path(d='M321.59,346a12.82,12.82,0,0,1,7.42.81,10.94,10.94,0,0,0,8.92,0,12.52,12.52,0,0,1,10.49.2,6.47,6.47,0,0,0,3,.76c4.25,0,7.79-4.29,8.52-9.94a8.15,8.15,0,0,1-2.12-2.29c-2.5-4-6.36-6.59-10.69-6.59s-8.15,2.54-10.65,6.52a8.19,8.19,0,0,1-7.06,3.88h-.11C325.94,339.37,323,342.08,321.59,346Z' transform='translate(-52 -162.63)' fill='#88b13e' opacity='0.1')
            path(d='M308.63,328.3l6.88,4.36-4.18-7.58a6.79,6.79,0,0,1,4.16-1.49h.11a8.52,8.52,0,0,0,1.43-.1l2.33,1.47-1-1.81a8.29,8.29,0,0,0,4.07-3.09l4.17,2.64L324,317.91a12.2,12.2,0,0,1,9.34-4.72c4.33,0,8.2,2.58,10.69,6.6a8,8,0,0,0,7.06,3.81h.24c4.78,0,8.66,5.43,8.66,12.12s-3.88,12.12-8.66,12.12a6.49,6.49,0,0,1-3-.75,12.48,12.48,0,0,0-10.49-.21,10.86,10.86,0,0,1-4.48,1,11,11,0,0,1-4.44-.94,12.52,12.52,0,0,0-10.39.2,6.48,6.48,0,0,1-3,.74c-4.79,0-8.67-5.42-8.67-12.12A15.44,15.44,0,0,1,308.63,328.3Z' transform='translate(-52 -162.63)' fill='#88b13e' opacity='0.1')
            path(d='M716.31,652.89c2.61-4.84-.35-10.76-3.75-15.07s-7.56-8.8-7.47-14.29c.13-7.89,8.51-12.56,15.2-16.74a74.3,74.3,0,0,0,13.65-11,20.13,20.13,0,0,0,4.19-5.62c1.39-3.08,1.35-6.6,1.26-10q-.43-16.89-1.67-33.76' transform='translate(-52 -162.63)' fill='none' stroke='#3f3d56' stroke-miterlimit='10' stroke-width='4')
            path(d='M750.45,545.85a12.31,12.31,0,0,0-6.15-10.09l-2.76,5.45.09-6.6a12.31,12.31,0,1,0,8.82,11.24Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M728.49,629.17a12.31,12.31,0,0,1-23.24-5,12,12,0,0,1,.8-5,12.32,12.32,0,0,1,23,.13l-7.69,6.26,8.46-2A12.24,12.24,0,0,1,728.49,629.17Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M722.41,605.27a12.31,12.31,0,0,1-3.9-24.15l-.07,5.07,2.79-5.52h0a12.31,12.31,0,1,1,1.15,24.6Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M752.3,585.38a12.31,12.31,0,1,1,5.44-23l-2.17,6L760,564a12.31,12.31,0,0,1-7.74,21.37Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M748.79,549.13c-2.84.31-5.6,1.19-8.46,1.37s-6-.51-7.78-2.72a39.48,39.48,0,0,1-2.28-4,8.76,8.76,0,0,0-3.1-2.92,12.31,12.31,0,1,0,23,8.18C749.72,549.05,749.25,549.08,748.79,549.13Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M752.3,585.38a12.31,12.31,0,0,1-11.71-17.56,9.11,9.11,0,0,1,2.47,2.48,41.72,41.72,0,0,0,2.44,4.07c1.92,2.25,5.2,3,8.17,2.85s5.84-1,8.8-1.25c.41,0,.82-.06,1.24-.07A12.31,12.31,0,0,1,752.3,585.38Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M722.41,605.27a12.31,12.31,0,0,1-11.81-17.33,10,10,0,0,1,2.61,2.5,41.23,41.23,0,0,0,2.67,4.15c2.07,2.31,5.57,3.13,8.71,3s6-.81,9-1A12.33,12.33,0,0,1,722.41,605.27Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M728.49,629.17a12.31,12.31,0,0,1-23.24-5,12,12,0,0,1,.8-5,12.29,12.29,0,0,1,2.7,2.41c1.17,1.42,1.94,3,3.3,4.37,2.51,2.47,6.58,3.49,10.19,3.58A51.7,51.7,0,0,0,728.49,629.17Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M106.31,580.89c2.61-4.84-.35-10.76-3.75-15.07S95,557,95.09,551.53c.13-7.89,8.51-12.56,15.2-16.74a74.3,74.3,0,0,0,13.65-11,20.13,20.13,0,0,0,4.19-5.62c1.39-3.08,1.35-6.6,1.26-10q-.44-16.89-1.67-33.76' transform='translate(-52 -162.63)' fill='none' stroke='#3f3d56' stroke-miterlimit='10' stroke-width='4')
            path(d='M140.45,473.85a12.31,12.31,0,0,0-6.15-10.09l-2.76,5.45.09-6.6a12.31,12.31,0,1,0,8.82,11.24Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M118.49,557.17a12.31,12.31,0,0,1-23.24-5,12,12,0,0,1,.8-5,12.32,12.32,0,0,1,23,.13l-7.69,6.26,8.46-2A12.24,12.24,0,0,1,118.49,557.17Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M112.41,533.27a12.31,12.31,0,0,1-3.9-24.15l-.07,5.07,2.79-5.52h0a12.31,12.31,0,1,1,1.15,24.6Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M142.3,513.38a12.31,12.31,0,1,1,5.44-23l-2.17,6L150,492a12.31,12.31,0,0,1-7.74,21.37Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M138.79,477.13c-2.84.31-5.6,1.19-8.46,1.37s-6-.51-7.78-2.72a39.48,39.48,0,0,1-2.28-4,8.76,8.76,0,0,0-3.1-2.92,12.31,12.31,0,1,0,23,8.18C139.72,477.05,139.25,477.08,138.79,477.13Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M142.3,513.38a12.31,12.31,0,0,1-11.71-17.56,9.11,9.11,0,0,1,2.47,2.48,41.72,41.72,0,0,0,2.44,4.07c1.92,2.25,5.2,3,8.17,2.85s5.84-1,8.8-1.25c.41,0,.82-.06,1.24-.07A12.31,12.31,0,0,1,142.3,513.38Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M112.41,533.27a12.31,12.31,0,0,1-11.81-17.33,10,10,0,0,1,2.61,2.5,41.23,41.23,0,0,0,2.67,4.15c2.07,2.31,5.57,3.13,8.71,3s6-.81,9-1A12.33,12.33,0,0,1,112.41,533.27Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M118.49,557.17a12.31,12.31,0,0,1-23.24-5,12,12,0,0,1,.8-5,12.29,12.29,0,0,1,2.7,2.41c1.17,1.42,1.94,3,3.3,4.37,2.51,2.47,6.58,3.49,10.19,3.58A51.7,51.7,0,0,0,118.49,557.17Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M512.52,498.52c-2.61-4.83.35-10.75,3.76-15.06s7.55-8.8,7.46-14.29c-.12-7.9-8.5-12.56-15.2-16.74a74,74,0,0,1-13.64-11,19.78,19.78,0,0,1-4.2-5.61c-1.38-3.09-1.34-6.6-1.26-10q.45-16.89,1.67-33.76' transform='translate(-52 -162.63)' fill='none' stroke='#3f3d56' stroke-miterlimit='10' stroke-width='4')
            path(d='M478.39,391.49a12.3,12.3,0,0,1,6.14-10.09l2.76,5.45-.08-6.6a12.62,12.62,0,0,1,4.05-.49,12.31,12.31,0,1,1-12.87,11.73Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M500.34,474.81a12.31,12.31,0,1,0-.59-9.91l7.69,6.26-8.46-2A12.24,12.24,0,0,0,500.34,474.81Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M506.42,450.91a12.31,12.31,0,0,0,3.91-24.15l.06,5.07-2.79-5.52h0A12.31,12.31,0,0,0,494.7,438a12.16,12.16,0,0,0,.53,4.2A12.3,12.3,0,0,0,506.42,450.91Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M476.54,431a12.31,12.31,0,1,0-5.45-23l2.18,6-4.48-4.29a12.21,12.21,0,0,0-4,8.5,11.91,11.91,0,0,0,.31,3.39A12.3,12.3,0,0,0,476.54,431Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M480.05,394.77c2.84.31,5.6,1.19,8.45,1.37s6-.51,7.79-2.72a39.4,39.4,0,0,0,2.27-4,8.79,8.79,0,0,1,3.11-2.92,12.31,12.31,0,1,1-23,8.17C479.12,394.68,479.58,394.72,480.05,394.77Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M476.54,431a12.32,12.32,0,0,0,11.71-17.56,9.15,9.15,0,0,0-2.48,2.48,41.72,41.72,0,0,1-2.44,4.07c-1.91,2.25-5.19,3-8.16,2.85s-5.84-1-8.8-1.25c-.41,0-.83-.06-1.24-.07A12.3,12.3,0,0,0,476.54,431Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M506.42,450.91a12.3,12.3,0,0,0,11.81-17.33,9.83,9.83,0,0,0-2.6,2.5,41.23,41.23,0,0,1-2.67,4.15c-2.08,2.31-5.57,3.13-8.72,3s-6-.81-9-1A12.3,12.3,0,0,0,506.42,450.91Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M500.34,474.81a12.31,12.31,0,0,0,22.45-10,11.82,11.82,0,0,0-2.7,2.41c-1.17,1.42-2,3-3.3,4.37-2.52,2.47-6.58,3.49-10.2,3.58A53.94,53.94,0,0,1,500.34,474.81Z' transform='translate(-52 -162.63)' opacity='0.1')
            circle(cx='779.73' cy='238.18' r='99.96' fill='#3f3d56')
            path(d='M874.64,426.59c-3.48-3.48-11.85-8.73-16-10.69-4.79-2.3-6.55-2.26-9.94.19-2.82,2-4.65,3.93-7.89,3.22s-9.66-5.55-15.87-11.74S813.91,395,813.22,391.71s1.21-5.08,3.23-7.9c2.44-3.39,2.51-5.15.19-9.94-2-4.15-7.19-12.5-10.7-16s-4.27-2.73-6.19-2a35.8,35.8,0,0,0-5.67,3c-3.48,2.33-5.43,4.27-6.8,7.19s-2.92,8.34,5.05,22.53a125.69,125.69,0,0,0,22.1,29.47l0,0,0,0A125.88,125.88,0,0,0,844,440.2c14.18,8,19.61,6.41,22.53,5.05s4.86-3.29,7.18-6.8a35.33,35.33,0,0,0,3-5.67C877.37,430.86,878.15,430.08,874.64,426.59Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M831.73,300.86a100,100,0,1,0,99.95,99.95A100,100,0,0,0,831.73,300.86Zm0,186.62a86.67,86.67,0,1,1,86.67-86.67A86.67,86.67,0,0,1,831.73,487.48Z' transform='translate(-52 -162.63)' opacity='0.1')
            circle(cx='550.08' cy='390.01' r='99.96' fill='#3f3d56')
            path(d='M658.93,522.44,629,552.89a.54.54,0,0,0,0,.78L650,576a3.62,3.62,0,0,1-2.55,6.17,3.64,3.64,0,0,1-2.56-1.06L624,558.86a.57.57,0,0,0-.8,0L618.11,564a22.37,22.37,0,0,1-16,6.73,22.86,22.86,0,0,1-16.28-6.92l-4.89-5a.57.57,0,0,0-.8,0l-20.84,22.2a3.61,3.61,0,0,1-5.11,0,3.6,3.6,0,0,1,0-5.11l20.92-22.28a.6.6,0,0,0,0-.78l-29.93-30.45a.55.55,0,0,0-.94.39v60.93a8.92,8.92,0,0,0,8.89,8.89H651a8.92,8.92,0,0,0,8.89-8.89V522.83A.55.55,0,0,0,658.93,522.44Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M602.08,563.5A15.14,15.14,0,0,0,613,559l43.59-44.37a8.7,8.7,0,0,0-5.5-2H553.15a8.64,8.64,0,0,0-5.5,2L591.25,559A15.08,15.08,0,0,0,602.08,563.5Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M600.82,452.69a100,100,0,1,0,99.95,99.95A100,100,0,0,0,600.82,452.69Zm0,186.62a86.67,86.67,0,1,1,86.67-86.67A86.67,86.67,0,0,1,600.82,639.31Z' transform='translate(-52 -162.63)' opacity='0.1')
            circle(cx='312.85' cy='315.36' r='99.96' fill='#3f3d56')
            path(d='M364.85,430.16,325,522.1l3.72,3.72,36.14-15.94L401,525.82l3.72-3.72Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M364.85,378A100,100,0,1,0,464.8,478,100,100,0,0,0,364.85,378Zm0,186.62A86.67,86.67,0,1,1,451.52,478,86.67,86.67,0,0,1,364.85,564.66Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M840.93,603.88q-1.36-3.32-2.79-6.62a19.65,19.65,0,0,0-3.41-5.89,6.24,6.24,0,0,0-2-1.5,8.53,8.53,0,0,0-2.61-.52,20.83,20.83,0,0,0-4.1-.11c-.53-.16-1.13-.37-1.72-.61a14.28,14.28,0,0,0,10.64-13.25c0-.2,0-.41,0-.61a14.25,14.25,0,0,0-14.19-14.31,14,14,0,0,0-7.45,2.13,13.37,13.37,0,0,0-15,7.23,16.53,16.53,0,0,0-5.1,12.3c0,.21,0,.43,0,.63.26,7.77,5.28,14,11.62,14.63a6.66,6.66,0,0,0-1.84,1.23c-1.94,1.87-2.26,4.84-2.47,7.54l-.15,2L797,609.35a.62.62,0,0,0-.15,1.09l3.21,2.29c0,.19,0,.38,0,.57s0,.43.06.65a4.59,4.59,0,0,0-1.24,1.77,8.18,8.18,0,0,0-.29,3.24l.12,2.79a21.91,21.91,0,0,0,.85,6.21c.42,1.24,2.24,4.23,3.55,4.25-1.21,5.5-1.53,17.1-1.53,17.1-.15.15.27.29,1,.41.72,5.52,3.07,21,7.24,27.81a58.64,58.64,0,0,1,1.57,6.76s1.19,14.71,2.76,19.08c1.34,3.72,2.4,12.9,2.69,15.56a1.53,1.53,0,0,0-1.11,1.14c-.79,2.38-5.91,6-5.91,6a24.76,24.76,0,0,0-4.42,2.83c-1.61,1.45-1.55,2.76,5.6,1.94,13.8-1.59,16.16-6,16.16-6s-.22-.74-.55-1.7a18.46,18.46,0,0,0-1.81-4.27c-.2-.19-.4.13-.64.63a85.63,85.63,0,0,1-.94-19.31s.39-6.76-1.58-11.53a21.83,21.83,0,0,1,0-7.55c.79-3.18-3.15-18.69-3.15-18.69L816.23,651a3.28,3.28,0,0,1,.63,1.33l.06.23.06.33a.62.62,0,0,0,.16.31c1.54,6.4,5.76,24.13,5.76,26.73,0,3.18,3.94,11.13,3.94,11.13s1.57,13.12,4.33,18.28c2.1,3.93,2.15,9.69,2.05,12.23h0s-.47,3.27-1.26,4.06a9.66,9.66,0,0,0-1.49,2.59l-.09.19s-1.18,2.39-.39,2.79a19.37,19.37,0,0,0,9.46,1.19s1.58-2,1.58-2.78a12.52,12.52,0,0,0-.18-1.42c-.29-1.88-.83-4.84-.84-4.87.33-1.28-1-4.84-1-4.84l-.4-11.13a51.38,51.38,0,0,0-2.76-22.27s-2-7.15-1.57-9.14-.79-23.06-.79-23.06l-.12-.3a22.78,22.78,0,0,1,.12-4.47c.39-4.77-1.18-14.71-1.58-15.1a13.1,13.1,0,0,1-.56-3.29c.09-.83.36-3.26.73-6.28a112.91,112.91,0,0,0,11.62-1,1.45,1.45,0,0,0,1-.4,1.4,1.4,0,0,0,.23-.81C845.39,615.24,843.2,609.42,840.93,603.88ZM833,616.49c.41-2.85.85-5.61,1.29-7.66l.06.18a55.65,55.65,0,0,1,1.9,6.3A21.43,21.43,0,0,1,833,616.49Z' transform='translate(-52 -162.63)' fill='url(#eb6c86d6-45fa-49e0-9a60-1b0612516196-257)')
            path(d='M802.37,648.68s2.36,21.23,7.47,29.48a57.21,57.21,0,0,1,1.57,6.68s1.18,14.54,2.75,18.86,2.75,16.12,2.75,16.12,5.5,6.28,7.47,1.18a82.82,82.82,0,0,1-1.18-20.44s.39-6.68-1.57-11.4a21.32,21.32,0,0,1,0-7.46c.78-3.15-3.15-18.47-3.15-18.47l-3.14-15.33Z' transform='translate(-52 -162.63)' fill='#be6f72')
            path(d='M827.13,724.93s-2.36,4.32-16.11,5.89c-7.14.81-7.19-.48-5.58-1.92a24.9,24.9,0,0,1,4.4-2.8s5.11-3.53,5.89-5.89,3.54-.39,3.54-.39c3.93,5.89,4.72-1.58,5.5-.79a17.73,17.73,0,0,1,1.81,4.21C826.91,724.19,827.13,724.93,827.13,724.93Z' transform='translate(-52 -162.63)' fill='#ff6f61')
            path(d='M827.13,724.93s-2.36,4.32-16.11,5.89c-7.14.81-7.19-.48-5.58-1.92,1.12.71,3.38,1,7.93-.83,6.55-2.68,11.3-4.23,13.21-4.83C826.91,724.19,827.13,724.93,827.13,724.93Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M823.2,700.56s.39-6.68-1.57-11.4a21.32,21.32,0,0,1,0-7.46c.78-3.15-3.15-18.47-3.15-18.47l-3.14-15.33-2.72.16,3.11,15.17s3.93,15.32,3.15,18.47a21.32,21.32,0,0,0,0,7.46c2,4.72,1.57,11.4,1.57,11.4A82.82,82.82,0,0,0,821.63,721a3.44,3.44,0,0,1-1.14,1.62c1.46.66,3,.63,3.89-1.62A82.82,82.82,0,0,1,823.2,700.56Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M820.64,562.42a14,14,0,0,0-7.42,2.11,13.35,13.35,0,0,0-15,7.15,16.28,16.28,0,0,0-5.09,12.16c0,8.36,5.63,15.13,12.57,15.13,5,0,9.38-3.56,11.39-8.71a13.8,13.8,0,0,0,3.54.46,14.15,14.15,0,0,0,0-28.3Z' transform='translate(-52 -162.63)' fill='#3f3d56')
            path(d='M832.24,650.65l1.18,3.14s1.18,20.83.78,22.8,1.58,9,1.58,9a50.31,50.31,0,0,1,2.75,22l.39,11s1.57,4.32.79,5.11S833,723,833,723s.79-8.25-2-13.36-4.32-18.08-4.32-18.08-3.93-7.86-3.93-11-6.29-28.69-6.29-28.69Z' transform='translate(-52 -162.63)' fill='#be6f72')
            path(d='M801.58,650.26s.4-14.15,2-18.47a29.33,29.33,0,0,0,1.75-6.27s23.79,4.3,25.76,2.73c0,0,.39,5.5.79,5.89s2,10.22,1.57,14.94,0,4.71,0,4.71-16.12,2.36-16.51,0-1.57-2.35-1.57-2.35S800.8,651,801.58,650.26Z' transform='translate(-52 -162.63)' fill='#3f3d56')
            g(opacity='0.1')
              path(d='M814.55,650.26s-9.94-.27-12.94-.81c0,.51,0,.81,0,.81-.78.78,13.76,1.18,13.76,1.18a1,1,0,0,1,.54.22C815.38,650.26,814.55,650.26,814.55,650.26Z' transform='translate(-52 -162.63)')
              path(d='M831.85,634.14c-.4-.39-.79-5.89-.79-5.89a1.69,1.69,0,0,1-.67.24c.14,1.66.41,4.21.67,4.47s2,10.22,1.57,14.94,0,4.71,0,4.71-12.75,1.87-15.84.62c0,.17.09.36.12.56.39,2.36,16.51,0,16.51,0s-.4,0,0-4.71S832.24,634.54,831.85,634.14Z' transform='translate(-52 -162.63)')
              path(d='M814.55,650.26s-9.94-.27-12.94-.81c0,.51,0,.81,0,.81-.78.78,13.76,1.18,13.76,1.18a1,1,0,0,1,.54.22C815.38,650.26,814.55,650.26,814.55,650.26Z' transform='translate(-52 -162.63)' fill='url(#ad310e25-2b04-44c8-bb7b-982389166780-259)')
              path(d='M831.85,634.14c-.4-.39-.79-5.89-.79-5.89a1.69,1.69,0,0,1-.67.24c.14,1.66.41,4.21.67,4.47s2,10.22,1.57,14.94,0,4.71,0,4.71-12.75,1.87-15.84.62c0,.17.09.36.12.56.39,2.36,16.51,0,16.51,0s-.4,0,0-4.71S832.24,634.54,831.85,634.14Z' transform='translate(-52 -162.63)' fill='url(#ad310e25-2b04-44c8-bb7b-982389166780-259)')
            path(d='M818.9,587.18a5.21,5.21,0,0,0,1.5,1.94,3.36,3.36,0,0,0,1.41.61c-.88.51-1.84.89-2.72,1.4a48.36,48.36,0,0,0-4,3,8.14,8.14,0,0,1-4.59,1.78,5.62,5.62,0,0,0,.64-5.59,5.22,5.22,0,0,1-.7-1.94c0-1.13,1-2,1.93-2.6.75-.51,1.52-1,2.3-1.49.61-.38,1.53-1.18,2.3-1.15s.86.71,1,1.41A11.09,11.09,0,0,0,818.9,587.18Z' transform='translate(-52 -162.63)' fill='#be6f72')
            path(d='M818.9,587.18a5.21,5.21,0,0,0,1.5,1.94,3.36,3.36,0,0,0,1.41.61c-.88.51-1.84.89-2.72,1.4a48.36,48.36,0,0,0-4,3,8.14,8.14,0,0,1-4.59,1.78,5.62,5.62,0,0,0,.64-5.59,5.22,5.22,0,0,1-.7-1.94c0-1.13,1-2,1.93-2.6.75-.51,1.52-1,2.3-1.49.61-.38,1.53-1.18,2.3-1.15s.86.71,1,1.41A11.09,11.09,0,0,0,818.9,587.18Z' transform='translate(-52 -162.63)' opacity='0.1')
            circle(cx='776.11' cy='438.7' r='9.04' fill='#be6f72')
            path(d='M840.88,729.64c0,.79-1.57,2.75-1.57,2.75a19.46,19.46,0,0,1-9.43-1.18c-.79-.39.39-2.75.39-2.75l.09-.19a9.54,9.54,0,0,1,1.49-2.56c.78-.78,1.25-4,1.25-4,2.44-4,6.77,1.73,6.77,1.73s.55,3,.84,4.82C840.81,728.91,840.88,729.44,840.88,729.64Z' transform='translate(-52 -162.63)' fill='#ff6f61')
            path(d='M840.88,729.64c0,.79-1.57,2.75-1.57,2.75a19.46,19.46,0,0,1-9.43-1.18c-.79-.39.39-2.75.39-2.75l.09-.19a19,19,0,0,0,8.56,1.76l1.79-1.79C840.81,728.91,840.88,729.44,840.88,729.64Z' transform='translate(-52 -162.63)' opacity='0.1')
            circle(cx='758.03' cy='419.83' r='8.84' fill='#be6f72')
            path(d='M802.9,600.14c-1.94,1.85-2.26,4.78-2.46,7.45l-.3,3.91a19.72,19.72,0,0,0-.07,3.17c0,.65.16,1.31.22,2s.08,1.56.09,2.35l0,5.78a6.82,6.82,0,0,0,.64,3.47,2.36,2.36,0,0,0,3,1.08,3.42,3.42,0,0,0,1.24-1.92,29.85,29.85,0,0,0,2-7.32c.08-.87.09-1.74.17-2.61s.23-1.78.36-2.66c.56-3.68.81-7.4,1.06-11.11.07-1.1,1.06-5.43-.38-5.91-.7-.23-2.15.49-2.82.73A7.94,7.94,0,0,0,802.9,600.14Z' transform='translate(-52 -162.63)' fill='#be6f72')
            path(d='M802.9,600.14c-1.94,1.85-2.26,4.78-2.46,7.45l-.3,3.91a19.72,19.72,0,0,0-.07,3.17c0,.65.16,1.31.22,2s.08,1.56.09,2.35l0,5.78a6.82,6.82,0,0,0,.64,3.47,2.36,2.36,0,0,0,3,1.08,3.42,3.42,0,0,0,1.24-1.92,29.85,29.85,0,0,0,2-7.32c.08-.87.09-1.74.17-2.61s.23-1.78.36-2.66c.56-3.68.81-7.4,1.06-11.11.07-1.1,1.06-5.43-.38-5.91-.7-.23-2.15.49-2.82.73A7.94,7.94,0,0,0,802.9,600.14Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M821.23,588.16s-6.68,5.11-10.61,6.29c0,0-2.33,2.66-2.73,3.3s-1.2,7.7-2,9.28-2.75,5.11,0,8.64c0,0,.78,3.54.39,4.72s-1.82,5.5-.52,5.7,5.24,2.94,8.77,2.16,16.71,3,16.71,3S833.42,611,835,607.42l-3.54-1.18s-9.82-5.89-3.93-14.93C827.52,591.31,822,590.13,821.23,588.16Z' transform='translate(-52 -162.63)' fill='#ff6f61')
            path(d='M796.84,611.83l8.12,5.75a.6.6,0,0,0,.71,0l2.2-1.65a.62.62,0,0,0,0-.94l-6.25-5.55a.6.6,0,0,0-.61-.12L797,610.76A.61.61,0,0,0,796.84,611.83Z' transform='translate(-52 -162.63)' fill='#3f3d56')
            path(d='M799.57,629.15a21.76,21.76,0,0,1-.85-6.13l-.12-2.77a8,8,0,0,1,.29-3.2,5.23,5.23,0,0,1,3.37-2.95,11.64,11.64,0,0,1,4.59-.33,1.18,1.18,0,0,1,.59.16,1.1,1.1,0,0,1,.32.54,3.62,3.62,0,0,1,.18,2.89,3,3,0,0,1-.92.95c-1.09.78-2.36,1.3-3.39,2.15a1.23,1.23,0,0,0-.46.58,1.35,1.35,0,0,0,0,.63,10.08,10.08,0,0,0,.52,1.61,1.59,1.59,0,0,0,.45.68c.19.16.44.22.64.37.43.35,1.33.81,1.28,1.36-.15,2-1.35,4.24-1.82,6.22C803.34,635.78,800.15,630.84,799.57,629.15Z' transform='translate(-52 -162.63)' fill='#be6f72')
            g(opacity='0.1')
              path(d='M812.2,628.25l-.22,0a6.73,6.73,0,0,0,2.57,0l.25,0A9,9,0,0,0,812.2,628.25Z' transform='translate(-52 -162.63)')
              path(d='M832.83,606.83c-1.41,3.17-3.49,20.34-3.86,23.75,1.38.36,2.29.62,2.29.62S833.42,611,835,607.42Z' transform='translate(-52 -162.63)')
            path(d='M828.42,601.61a3,3,0,0,0,1.29,1.95,17.31,17.31,0,0,1,2.29,2.32,16.43,16.43,0,0,1,2.27,4.55,55.75,55.75,0,0,1,1.89,6.22c-5,2.32-10.68,2.21-16,3.74a12.77,12.77,0,0,0-6,3.55,8.27,8.27,0,0,0-2.21,6.51.85.85,0,0,0,.12.39.84.84,0,0,0,.7.28,6,6,0,0,0,3.67-1.26,17.46,17.46,0,0,0,2.81-2.76,4.52,4.52,0,0,1,2-1.48c2.89-.88,6-.83,9-.88a113.42,113.42,0,0,0,13.41-1.06,1.08,1.08,0,0,0,1.2-1.2c.44-5.9-1.75-11.66-4-17.13q-1.35-3.29-2.78-6.55a19.4,19.4,0,0,0-3.4-5.82,6,6,0,0,0-2-1.48A8.46,8.46,0,0,0,830,591a19,19,0,0,0-4.39-.08,9.36,9.36,0,0,0-.42,2.27c.08,2.7,1.26,5.23,2.42,7.67C827.76,601.23,828.19,601.25,828.42,601.61Z' transform='translate(-52 -162.63)' fill='#be6f72')
            path(d='M812.41,606.67a7.33,7.33,0,0,0-1,3.82,5.14,5.14,0,0,0,.25,1.56,5.06,5.06,0,0,0,3.19,3' transform='translate(-52 -162.63)' fill='none' stroke='#000' stroke-miterlimit='10' opacity='0.1')
            path(d='M817.5,573.82a4.59,4.59,0,0,0-1.45.23c-1.31-2-4.39-3.38-8-3.38-4.78,0-8.65,2.47-8.65,5.51s3.87,5.5,8.65,5.5a12.17,12.17,0,0,0,5.19-1.1,4.71,4.71,0,1,0,4.24-6.76Z' transform='translate(-52 -162.63)' fill='#3f3d56')
            path(d='M817.89,582.07a4.7,4.7,0,0,1-4.24-2.67,12.17,12.17,0,0,1-5.19,1.1c-4.77,0-8.64-2.46-8.64-5.5a3.31,3.31,0,0,1,0-.55,3.73,3.73,0,0,0-.44,1.73c0,3,3.87,5.5,8.65,5.5a12.17,12.17,0,0,0,5.19-1.1,4.71,4.71,0,0,0,8.87-1.17A4.69,4.69,0,0,1,817.89,582.07Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M798.23,574a13.35,13.35,0,0,1,15-7.15,14.14,14.14,0,0,1,21.52,10.86c0-.39,0-.78,0-1.18a14.14,14.14,0,0,0-21.57-12,13.35,13.35,0,0,0-15,7.15,16.28,16.28,0,0,0-5.09,12.16c0,.4,0,.79,0,1.18A16,16,0,0,1,798.23,574Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M888.39,577c2.61-4.83-.35-10.76-3.76-15.07s-7.55-8.79-7.46-14.29c.12-7.89,8.5-12.55,15.2-16.74a73.9,73.9,0,0,0,13.64-11,19.93,19.93,0,0,0,4.2-5.61c1.38-3.09,1.34-6.6,1.26-10q-.44-16.9-1.67-33.76' transform='translate(-52 -162.63)' fill='none' stroke='#3f3d56' stroke-miterlimit='10' stroke-width='4')
            path(d='M922.52,469.93a12.29,12.29,0,0,0-6.14-10.08l-2.76,5.45.08-6.6a12.08,12.08,0,0,0-4.05-.49,12.31,12.31,0,1,0,12.87,11.72Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M900.57,553.26a12.31,12.31,0,1,1,.59-9.92l-7.69,6.26,8.46-2A12.24,12.24,0,0,1,900.57,553.26Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M894.49,529.35a12.31,12.31,0,0,1-3.91-24.15l-.06,5.07,2.79-5.51h0a12.32,12.32,0,0,1,12.87,11.73,12.3,12.3,0,0,1-11.72,12.87Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M924.37,509.47a12.31,12.31,0,1,1,5.45-23l-2.18,6,4.48-4.3a12.24,12.24,0,0,1,4,8.5,11.88,11.88,0,0,1-.31,3.39A12.31,12.31,0,0,1,924.37,509.47Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M920.87,473.21c-2.84.32-5.61,1.2-8.46,1.38s-6-.51-7.79-2.73a38.2,38.2,0,0,1-2.27-4,8.85,8.85,0,0,0-3.1-2.92,12.31,12.31,0,1,0,23,8.17C921.79,473.13,921.33,473.16,920.87,473.21Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M924.37,509.47a12.32,12.32,0,0,1-11.71-17.56,9.11,9.11,0,0,1,2.48,2.47,39.47,39.47,0,0,0,2.44,4.07c1.91,2.26,5.19,3,8.16,2.86s5.84-1,8.8-1.25c.41,0,.83-.07,1.24-.08A12.31,12.31,0,0,1,924.37,509.47Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M894.49,529.35A12.3,12.3,0,0,1,882.68,512a10.15,10.15,0,0,1,2.6,2.5c1,1.35,1.55,2.91,2.67,4.15,2.08,2.32,5.57,3.13,8.72,3.06s6-.82,9-1.05A12.31,12.31,0,0,1,894.49,529.35Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M900.57,553.26a12.32,12.32,0,0,1-22.45-10,12.06,12.06,0,0,1,2.7,2.41c1.18,1.43,1.95,3,3.3,4.38,2.52,2.47,6.58,3.48,10.2,3.58A53.94,53.94,0,0,0,900.57,553.26Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M1047.39,729c2.61-4.83-.35-10.76-3.76-15.07s-7.55-8.79-7.46-14.29c.12-7.89,8.5-12.55,15.2-16.74a73.9,73.9,0,0,0,13.64-11,19.93,19.93,0,0,0,4.2-5.61c1.38-3.09,1.34-6.6,1.26-10q-.43-16.9-1.67-33.76' transform='translate(-52 -162.63)' fill='none' stroke='#3f3d56' stroke-miterlimit='10' stroke-width='4')
            path(d='M1081.52,621.93a12.29,12.29,0,0,0-6.14-10.08l-2.76,5.45.08-6.6a12.08,12.08,0,0,0-4-.49,12.31,12.31,0,1,0,12.87,11.72Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M1059.57,705.26a12.31,12.31,0,1,1,.59-9.92l-7.69,6.26,8.46-2A12.24,12.24,0,0,1,1059.57,705.26Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M1053.49,681.35a12.31,12.31,0,0,1-3.91-24.15l-.06,5.07,2.79-5.51h0a12.32,12.32,0,0,1,12.87,11.73,12.3,12.3,0,0,1-11.72,12.87Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M1083.37,661.47a12.31,12.31,0,1,1,5.45-23l-2.18,6,4.48-4.3a12.24,12.24,0,0,1,4,8.5,11.88,11.88,0,0,1-.31,3.39A12.31,12.31,0,0,1,1083.37,661.47Z' transform='translate(-52 -162.63)' fill='#88b13e')
            path(d='M1079.87,625.21c-2.84.32-5.61,1.2-8.46,1.38s-6-.51-7.79-2.73a38.2,38.2,0,0,1-2.27-4,8.85,8.85,0,0,0-3.1-2.92,12.31,12.31,0,1,0,23,8.17C1080.79,625.13,1080.33,625.16,1079.87,625.21Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M1083.37,661.47a12.32,12.32,0,0,1-11.71-17.56,9.11,9.11,0,0,1,2.48,2.47,39.47,39.47,0,0,0,2.44,4.07c1.91,2.26,5.19,3,8.16,2.86s5.84-1,8.8-1.25c.41,0,.83-.07,1.24-.08A12.31,12.31,0,0,1,1083.37,661.47Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M1053.49,681.35A12.3,12.3,0,0,1,1041.68,664a10.15,10.15,0,0,1,2.6,2.5c1,1.35,1.55,2.91,2.67,4.15,2.08,2.32,5.57,3.13,8.72,3.06s6-.82,9-1.05A12.31,12.31,0,0,1,1053.49,681.35Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M1059.57,705.26a12.32,12.32,0,0,1-22.45-10,12.06,12.06,0,0,1,2.7,2.41c1.18,1.43,2,3,3.3,4.38,2.52,2.47,6.58,3.48,10.2,3.58A53.94,53.94,0,0,0,1059.57,705.26Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M530,587.91a9.81,9.81,0,0,0-3.91-7.92,11.5,11.5,0,0,0-9.61-11.28,11.48,11.48,0,0,0-7.65-8.55h0a9.76,9.76,0,0,0-1.42-.33l-.14,0-.25,0-.2,0-.22,0-.27,0h-.61a11.26,11.26,0,0,0-10.88,9.62c-3.51-.81-6.72.24-7.31,2.46a3,3,0,0,0,.1,1.78c.6,1.72,2.55,3.37,5.16,4.18l.34.1.51.13.11,0h0a8.84,8.84,0,0,0-.84,3.79,8.74,8.74,0,0,0,4.71,7.8l-.23.14a3.12,3.12,0,0,0-.76,1.06,15.86,15.86,0,0,0-1.47,3.54c-.25,1.06-.29,2.16-.6,3.21-.58,1.93-2.06,3.56-2.23,5.57-.08.9.07,2-.57,2.58a3.11,3.11,0,0,1-.51.36,4.13,4.13,0,0,0-1.11,1.17,3.88,3.88,0,0,1-.78,1.12c-.58.43-1.53.39-1.81,1.06s.45,1.46.28,2.19-.79.87-1.24,1.28a4.45,4.45,0,0,0-1.07,2,6.56,6.56,0,0,1-5.4-1.38,10.09,10.09,0,0,1,.56,2,8.76,8.76,0,0,0-2.91-1.46,9.19,9.19,0,0,1-3.1-2.3l1.66-.23L469,600.41l-2.17-.45,1.94,3.73a1.19,1.19,0,0,0-.66.79,3.39,3.39,0,0,0-.07,1.27,22.73,22.73,0,0,0,.5,3l.56,2.62c.05.24.11.49.18.73a6.89,6.89,0,0,0-2.17.24,18.88,18.88,0,0,0-4.51-1.07,2.5,2.5,0,0,0-1,0,2.59,2.59,0,0,0-.95.77,30.76,30.76,0,0,0-3.35,4.72c-4,6.86-9.21,12.85-14.14,19.05-3.4,1.38-6.83,2.69-10.26,4l-7.38,2.82a11.19,11.19,0,0,1-4.58,1c-.7,0-1.57-.15-2,.45a4.21,4.21,0,0,0-.45,1l-.76.08h0a8.74,8.74,0,0,0-1.77-3.26,1.12,1.12,0,0,0-.83.64c-.18.33-.29.69-.5,1-.39.58-1.08.86-1.57,1.35s-.8,1.25-1.34,1.75a5.3,5.3,0,0,1-2.51,1,15.84,15.84,0,0,0-3.93,1.49,6.33,6.33,0,0,1-1.45.67,5.45,5.45,0,0,1-1.71.06l-3.9-.29a3.08,3.08,0,0,0-1.05.05,2,2,0,0,0-1.24,2,3.15,3.15,0,0,0,1.24,2.15,7.94,7.94,0,0,0,2.22,1.15A65.15,65.15,0,0,0,409.79,658v.79a17.75,17.75,0,0,0,8,1.9,1.24,1.24,0,0,0,.6-.11,1.32,1.32,0,0,0,.5-.78,32.17,32.17,0,0,0,1.56-7.66h0a4,4,0,0,0,1.41-.36c1.34-.37,2.68.55,4.07.7,1.71.19,3.29-.81,4.91-1.42l.7-.23a7.68,7.68,0,0,1-1.62,1.55c-.67.48-1.42.84-2.07,1.34a14.26,14.26,0,0,1-1.76,1.36,11.05,11.05,0,0,1-1.35.52,8.91,8.91,0,0,0-1.93,1,3.91,3.91,0,0,0-1.31,1.28,1.92,1.92,0,0,0-.11,1.8,1.9,1.9,0,0,0,1.29.9,5.29,5.29,0,0,0,1.59,0c2.12-.16,4.23-.35,6.34-.54a16.92,16.92,0,0,0,2.65-.38c.46-.11.92-.26,1.38-.39a12.31,12.31,0,0,1,2.41-.36,2,2,0,0,1,.7.07c.49.16.84.66,1.34.76a2,2,0,0,0,1-.13,22.3,22.3,0,0,1,4.69-.5c.69,0,1.5-.17,1.82-.81s-.26-1.67-.52-2.52a7.71,7.71,0,0,1-.22-1.66,10.39,10.39,0,0,0-1.16-3.94,10.29,10.29,0,0,1-.87-1.8,45.47,45.47,0,0,0,8.63-4.38,15.43,15.43,0,0,1,4.92-2.37,13.38,13.38,0,0,1,6.18.72,140.61,140.61,0,0,1,14.17,4.94c2.21.91,4.41,1.87,6.69,2.56a10.43,10.43,0,0,0,2.38,2.31,11,11,0,0,0,5.15,1.41,67.48,67.48,0,0,0,7.25.27,12.23,12.23,0,0,0,5.4-1,5.55,5.55,0,0,0,1.13-.75,4.48,4.48,0,0,0,3.56-1.31A8.63,8.63,0,0,0,512,646.5c.59-2.28.14-5,1.54-6.82.37-.5.86-.9,1.23-1.4a3.94,3.94,0,0,0,.64-2.31.47.47,0,0,1,.06-.09,8.47,8.47,0,0,0,.6-2.3,13.14,13.14,0,0,1,.65-1.82,56.19,56.19,0,0,0,1.86-5.39,31.49,31.49,0,0,0,.86-3.7c.15-1,.24-2,.32-3a18.63,18.63,0,0,1,.91-4.63,37.68,37.68,0,0,0,2.1-11.08v-.22a7.43,7.43,0,0,0,6.58-7.56,7.89,7.89,0,0,0-.69-3.23A10,10,0,0,0,530,587.91Zm-35.78,43.47c.11.39.24.77.37,1.15-.59-.57-1.16-1.16-1.75-1.74.23.08.47.15.69.24A3.73,3.73,0,0,1,494.19,631.38Zm-2.83-1.92c-3.46-3-7.46-5.33-11-8.24,1.93.95,3.81,2.06,5.67,3.12q3.31,1.89,6.71,3.63A5.49,5.49,0,0,1,491.36,629.46Zm1.47-7.56.17-.17c0,.43,0,.82,0,1.19l-.93-.32A8.28,8.28,0,0,0,492.83,621.9ZM462.43,630a28.63,28.63,0,0,0,3.68-5.25c1.37,2.39,3.6,4.12,5.49,6.13C468.55,630.49,465.49,630.16,462.43,630Z' transform='translate(-52 -162.63)' fill='url(#a964f849-fa65-4178-8cc4-fb8fb10b3617-258)')
            polygon(points='415.35 438.25 417.53 438.69 424.96 449.68 421.69 450.12 415.35 438.25' fill='#2f2e41')
            path(d='M414.49,645.46a42.78,42.78,0,0,0,2.18,5.67,54,54,0,0,0,7.25-2.07,22.86,22.86,0,0,0-1.51-2,7.46,7.46,0,0,0-2.05-1.57,5.64,5.64,0,0,0-2.49,0C416.75,645.46,415.62,645.48,414.49,645.46Z' transform='translate(-52 -162.63)' fill='#fbbebe')
            path(d='M420.37,648.39a4.52,4.52,0,0,1-2.48-2.82A9.08,9.08,0,0,0,416,642.2a1.08,1.08,0,0,0-.84.63c-.18.32-.29.68-.49,1-.4.57-1.1.85-1.6,1.33s-.8,1.23-1.34,1.72a5.32,5.32,0,0,1-2.53,1,16.41,16.41,0,0,0-4,1.47,6.9,6.9,0,0,1-1.47.66,5.82,5.82,0,0,1-1.72,0l-3.94-.28a3.08,3.08,0,0,0-1,0,1.91,1.91,0,0,0-1.25,2,3,3,0,0,0,1.25,2.12,8.3,8.3,0,0,0,2.24,1.14,65.9,65.9,0,0,0,10.56,3v.78a18.28,18.28,0,0,0,8.05,1.87,1.36,1.36,0,0,0,.6-.1,1.32,1.32,0,0,0,.5-.78,31.2,31.2,0,0,0,1.65-8.56,6.82,6.82,0,0,0-.17-2.21c-.22-.71.52-.41-.16-.69' transform='translate(-52 -162.63)' fill='#2f2e41')
            path(d='M495.93,633.54c-11.68.7-23.22-2.72-34.92-3.08a17.05,17.05,0,0,0-4.34.27,21.87,21.87,0,0,0-4.3,1.67c-6.27,2.92-12.76,5.34-19.24,7.75l-7.45,2.77a11.28,11.28,0,0,1-4.61,1c-.71,0-1.58-.15-2,.44-1.21,1.8-.64,4.43.16,6.45.26.65.7,1.36,1.4,1.43a4.07,4.07,0,0,0,1.42-.36c1.35-.36,2.7.55,4.1.7,1.72.18,3.32-.8,4.95-1.4,2.7-1,5.64-1,8.48-1.44,4.75-.79,9.16-3,13.28-5.51a15.5,15.5,0,0,1,4.95-2.34,13.7,13.7,0,0,1,6.23.71,143,143,0,0,1,14.29,4.86,66.61,66.61,0,0,0,7.46,2.73,27,27,0,0,0,16.73-1c1.87-.74,3.9-2,4-4.06.07-1.15-.83-2.16-1.42-3.15-.38-.63-.77-1.26-1.18-1.87C501.92,637.21,499.48,633.33,495.93,633.54Z' transform='translate(-52 -162.63)' fill='#2f2e41')
            path(d='M495.93,633.54c-11.68.7-23.22-2.72-34.92-3.08a17.05,17.05,0,0,0-4.34.27,21.87,21.87,0,0,0-4.3,1.67c-6.27,2.92-12.76,5.34-19.24,7.75l-7.45,2.77a11.28,11.28,0,0,1-4.61,1c-.71,0-1.58-.15-2,.44-1.21,1.8-.64,4.43.16,6.45.26.65.7,1.36,1.4,1.43a4.07,4.07,0,0,0,1.42-.36c1.35-.36,2.7.55,4.1.7,1.72.18,3.32-.8,4.95-1.4,2.7-1,5.64-1,8.48-1.44,4.75-.79,9.16-3,13.28-5.51a15.5,15.5,0,0,1,4.95-2.34,13.7,13.7,0,0,1,6.23.71,143,143,0,0,1,14.29,4.86,66.61,66.61,0,0,0,7.46,2.73,27,27,0,0,0,16.73-1c1.87-.74,3.9-2,4-4.06.07-1.15-.83-2.16-1.42-3.15-.38-.63-.77-1.26-1.18-1.87C501.92,637.21,499.48,633.33,495.93,633.54Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M436.92,646q2.74.93,5.53,1.72c1-1.71,3-2.9,3.43-4.86a.46.46,0,0,0,0-.26.48.48,0,0,0-.21-.19,10.48,10.48,0,0,0-4.34-1.27c-1.2-.07-1.75,1.18-2.29,2.06C438.83,643.59,437.41,646.19,436.92,646Z' transform='translate(-52 -162.63)' fill='#fbbebe')
            path(d='M439.48,644.78a4,4,0,0,1-2.69-1.77c-.25-.45-.53-1.06-1.05-1s-.69.6-.8,1.07a30,30,0,0,1-1.51,5.19,9.74,9.74,0,0,1-3.23,4.25c-.68.47-1.43.82-2.1,1.32a14.43,14.43,0,0,1-1.77,1.34,10.51,10.51,0,0,1-1.36.5,9.43,9.43,0,0,0-1.94,1,3.85,3.85,0,0,0-1.33,1.27,1.83,1.83,0,0,0-.1,1.77,1.89,1.89,0,0,0,1.29.88,5.44,5.44,0,0,0,1.61,0c2.13-.15,4.26-.34,6.39-.53a18.44,18.44,0,0,0,2.67-.37l1.39-.38a11.06,11.06,0,0,1,2.43-.36,1.89,1.89,0,0,1,.71.07c.49.16.84.65,1.35.75a2.26,2.26,0,0,0,1-.13,22.08,22.08,0,0,1,4.73-.49c.7,0,1.52-.18,1.84-.8.4-.78-.26-1.65-.53-2.49a8,8,0,0,1-.22-1.63,9.94,9.94,0,0,0-1.17-3.88c-.54-1-1.28-2.1-.9-3.16a3,3,0,0,0,.36-1.09C444.4,644.39,440.46,645,439.48,644.78Z' transform='translate(-52 -162.63)' fill='#2f2e41')
            path(d='M478.42,614.8a9.12,9.12,0,0,1-4.66-4.62c-.19-.44-.35-.91-.54-1.35a10.26,10.26,0,0,0-2.78-3.87,1.37,1.37,0,0,0-1-.43,1.09,1.09,0,0,0-.75.81,3.09,3.09,0,0,0-.08,1.25,22.27,22.27,0,0,0,.5,2.92l.57,2.58a5.66,5.66,0,0,0,.35,1.15,4,4,0,0,0,.95,1.13c.52.48,1.05.94,1.58,1.4a5.43,5.43,0,0,0,1,.69,5.81,5.81,0,0,0,1.77.52,15.06,15.06,0,0,1,6.64,2.56s0-1.73,0-1.92a2.54,2.54,0,0,0-.5-1.39A8.87,8.87,0,0,0,478.42,614.8Z' transform='translate(-52 -162.63)' fill='#fbbebe')
            path(d='M478.42,614.8a9.12,9.12,0,0,1-4.66-4.62c-.19-.44-.35-.91-.54-1.35a10.26,10.26,0,0,0-2.78-3.87,1.37,1.37,0,0,0-1-.43,1.09,1.09,0,0,0-.75.81,3.09,3.09,0,0,0-.08,1.25,22.27,22.27,0,0,0,.5,2.92l.57,2.58a5.66,5.66,0,0,0,.35,1.15,4,4,0,0,0,.95,1.13c.52.48,1.05.94,1.58,1.4a5.43,5.43,0,0,0,1,.69,5.81,5.81,0,0,0,1.77.52,15.06,15.06,0,0,1,6.64,2.56s0-1.73,0-1.92a2.54,2.54,0,0,0-.5-1.39A8.87,8.87,0,0,0,478.42,614.8Z' transform='translate(-52 -162.63)' opacity='0.1')
            ellipse(cx='450.2' cy='429.57' rx='2.84' ry='2.86' fill='#2f2e41')
            path(d='M500.44,590.48a3.07,3.07,0,0,0-2.24.32,3.11,3.11,0,0,0-.77,1.05,15.25,15.25,0,0,0-1.48,3.48c-.25,1-.29,2.13-.61,3.16-.58,1.9-2.07,3.51-2.24,5.49-.08.89.07,1.93-.58,2.53a3.68,3.68,0,0,1-.51.37,3.84,3.84,0,0,0-1.12,1.15,3.77,3.77,0,0,1-.79,1.09c-.58.43-1.54.39-1.82,1s.45,1.44.28,2.16-.8.86-1.25,1.26a4.37,4.37,0,0,0-1.08,2,6.67,6.67,0,0,1-5.44-1.35,17.32,17.32,0,0,1,.85,6.22,2.54,2.54,0,0,1-.5,1.92,34.64,34.64,0,0,1,6.67,1.16,4.6,4.6,0,0,0,2.91,0,4.86,4.86,0,0,0,1.34-1.06c1.2-1.22,2.46-2.55,2.75-4.24a24.91,24.91,0,0,0,.05-2.87,16.18,16.18,0,0,1,.73-3.49,41.53,41.53,0,0,0,1.27-7.18c.13-1.5,1.43-2.7,2.11-4,1.28-2.53,2.6-5.16,2.69-8C501.7,591.73,501.38,590.58,500.44,590.48Z' transform='translate(-52 -162.63)' fill='#2f2e41')
            path(d='M500.44,590.48a3.07,3.07,0,0,0-2.24.32,3.11,3.11,0,0,0-.77,1.05,15.25,15.25,0,0,0-1.48,3.48c-.25,1-.29,2.13-.61,3.16-.58,1.9-2.07,3.51-2.24,5.49-.08.89.07,1.93-.58,2.53a3.68,3.68,0,0,1-.51.37,3.84,3.84,0,0,0-1.12,1.15,3.77,3.77,0,0,1-.79,1.09c-.58.43-1.54.39-1.82,1s.45,1.44.28,2.16-.8.86-1.25,1.26a4.37,4.37,0,0,0-1.08,2,6.67,6.67,0,0,1-5.44-1.35,17.32,17.32,0,0,1,.85,6.22,2.54,2.54,0,0,1-.5,1.92,34.64,34.64,0,0,1,6.67,1.16,4.6,4.6,0,0,0,2.91,0,4.86,4.86,0,0,0,1.34-1.06c1.2-1.22,2.46-2.55,2.75-4.24a24.91,24.91,0,0,0,.05-2.87,16.18,16.18,0,0,1,.73-3.49,41.53,41.53,0,0,0,1.27-7.18c.13-1.5,1.43-2.7,2.11-4,1.28-2.53,2.6-5.16,2.69-8C501.7,591.73,501.38,590.58,500.44,590.48Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M497.78,636c-2.43-1.16-4.21-3.31-6.18-5.16-3.75-3.53-8.34-6-12.29-9.33-2.62-2.19-5-4.74-7.83-6.58a19.57,19.57,0,0,0-8.39-2.93,2.23,2.23,0,0,0-1,0,2.3,2.3,0,0,0-.95.75,30.22,30.22,0,0,0-3.39,4.65c-5,8.5-12.11,15.64-18,23.54a1.5,1.5,0,0,0-.29.56,1.39,1.39,0,0,0,.22.87l1.2,2.34c.67,1.32,1.75,2.85,3.19,2.59a3.49,3.49,0,0,0,1.67-1.07l5.38-5.15,5.64-5.39c3.3-3.15,6.66-6.38,8.82-10.42,1.68,2.92,4.67,4.83,6.71,7.5.78,1,1.42,2.13,2.12,3.21,1.11,1.72,2.38,3.34,3.64,5l6.47,8.25a12.38,12.38,0,0,0,3,3,11.45,11.45,0,0,0,5.19,1.39,68.59,68.59,0,0,0,7.31.26,12.6,12.6,0,0,0,5.45-1,4.94,4.94,0,0,0,2.95-4.39,6.44,6.44,0,0,0-.93-2.73C505.15,641.59,502.13,638.07,497.78,636Z' transform='translate(-52 -162.63)' fill='#2f2e41')
            ellipse(cx='451.95' cy='431.55' rx='2.19' ry='2.2' fill='#e8e8f0')
            path(d='M503.47,592.53a4.21,4.21,0,0,1,.24,3.16,12.82,12.82,0,0,1-1.41,2.91,13.85,13.85,0,0,1-1.83,2.6c3.38.16,6.65-1.16,9.62-2.76,2.4-1.29,4.79-2.88,6.07-5.29a2.8,2.8,0,0,1-2.24-.42,8,8,0,0,1-1.71-1.59l-1.69-1.9a7.61,7.61,0,0,1-1-1.37,3.78,3.78,0,0,1-.45-2.21,12.87,12.87,0,0,1-2.24,1.86c-1.21.79-2.54,1.36-3.76,2.14-.42.28-1.38.72-1.13,1.28S503.13,591.93,503.47,592.53Z' transform='translate(-52 -162.63)' fill='#fbbebe')
            path(d='M503.47,592.53a4.21,4.21,0,0,1,.24,3.16,12.82,12.82,0,0,1-1.41,2.91,13.85,13.85,0,0,1-1.83,2.6c3.38.16,6.65-1.16,9.62-2.76,2.4-1.29,4.79-2.88,6.07-5.29a2.8,2.8,0,0,1-2.24-.42,8,8,0,0,1-1.71-1.59l-1.69-1.9a7.61,7.61,0,0,1-1-1.37,3.78,3.78,0,0,1-.45-2.21,12.87,12.87,0,0,1-2.24,1.86c-1.21.79-2.54,1.36-3.76,2.14-.42.28-1.38.72-1.13,1.28S503.13,591.93,503.47,592.53Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M503.51,592.86a2.85,2.85,0,0,0,0,3.3c.1.12.46.87.61.88a.55.55,0,0,0,.38-.2,25.1,25.1,0,0,0,2.14-2.55,4.76,4.76,0,0,1,2.72-1.78,5.88,5.88,0,0,1,3.75,1.17,3.56,3.56,0,0,1,1.29,1,3.49,3.49,0,0,1,.42,1.43,68.9,68.9,0,0,1,.38,9.09,35.82,35.82,0,0,1-.43,6.55c-.22,1.11-.54,2.2-.69,3.33a21.24,21.24,0,0,0-.14,3v4.18a11,11,0,0,0,.16,2.29c.2.91.63,1.76.92,2.65a17.33,17.33,0,0,1,.61,3.13l.57,4.32c.18,1.36.32,2.85-.51,4-.37.49-.86.89-1.24,1.38-1.41,1.84-1,4.47-1.55,6.72a8.38,8.38,0,0,1-2.74,4.2,4.53,4.53,0,0,1-3.61,1.29c-1.76-.33-2.81-2.16-3.29-3.89s-.65-3.61-1.69-5.07a13.45,13.45,0,0,0-3.34-2.79,5.77,5.77,0,0,1-2.61-3.39c-.11-.63,0-1.28-.11-1.92a4.53,4.53,0,0,0-2.79-3.67c-.9-.35-2-.48-2.52-1.3a6.07,6.07,0,0,0,2.63-3.53,18.13,18.13,0,0,0,.64-4.46l.3-5c.14-2.25.2-4.47,1.19-6.49.44-.9,1-1.75,1.45-2.64a28.66,28.66,0,0,0,1.55-3.87c.72-2.06,1.44-4.12,2.08-6.2a11.68,11.68,0,0,1,1.14-2.89C501.72,594.19,502.5,593.06,503.51,592.86Z' transform='translate(-52 -162.63)' fill='#e8e8f0')
            path(d='M492.36,625.5l1.33,0,.28-2a4.17,4.17,0,0,1,.28-1.17,7,7,0,0,1,.77-1.12c1.3-1.85,1.21-4.3,1.53-6.55a33.33,33.33,0,0,1,2.92-8.56l2.58-5.75a7.94,7.94,0,0,0,.56-1.47,8.82,8.82,0,0,0,.16-1.7c0-.89.28-4.13.31-5,0-.33-.73-.15-.88-.44-.32-.64-.76,1.09-1.37,1.47a3.36,3.36,0,0,0-1.19,1.74c-.56,1.44-.9,3-1.42,4.43a9.05,9.05,0,0,1-2.41,3.92c-.53.46-1.14.83-1.64,1.33-1.6,1.58-1.76,4.09-1.81,6.35C492.32,612.36,492.06,625.5,492.36,625.5Z' transform='translate(-52 -162.63)' fill='#2f2e41')
            path(d='M511.5,590.47a4.54,4.54,0,0,0-2.37,3.25,16.44,16.44,0,0,1-1.2,4c-1.62,2.82-5.75,3.64-6.9,6.69a12.3,12.3,0,0,0-.46,3.15c-.2,2.19-.92,4.3-1.14,6.48a28.87,28.87,0,0,0,.12,5.09L501,636.35a23,23,0,0,1-.43,7.58,7.3,7.3,0,0,0,4.34-.72c1.35-.62,2.59-1.47,3.9-2.19,2.24-1.24,4.72-2.11,6.69-3.76a4.09,4.09,0,0,0,.9-1A8.65,8.65,0,0,0,517,634a12.2,12.2,0,0,1,.65-1.78,52.45,52.45,0,0,0,1.88-5.32,30.53,30.53,0,0,0,.86-3.64c.16-1,.25-2,.33-3a17.6,17.6,0,0,1,.92-4.55,36.65,36.65,0,0,0,2.11-10.92,5.71,5.71,0,0,0-.11-1.6,8.56,8.56,0,0,0-.88-1.83c-.6-1.13-1-2.37-1.52-3.52a17.31,17.31,0,0,0-5.91-6.21C514.17,590.84,512.81,590,511.5,590.47Z' transform='translate(-52 -162.63)' fill='#2f2e41')
            path(d='M481.29,618.57a10.43,10.43,0,0,1-2.75-2.09c-.36-.42-.66-.89-1-1.31a6.81,6.81,0,0,0-3.46-2,16.9,16.9,0,0,0-4-.39,7.26,7.26,0,0,0-2.67.32,2.72,2.72,0,0,0-1.77,1.9,3.15,3.15,0,0,0,1.35,2.8,6.36,6.36,0,0,0,2.69,1.3,21.5,21.5,0,0,0,2.43.29c4.78.5,9.05,3.1,13.24,5.47q5.52,3.14,11.26,5.84a23.4,23.4,0,0,0,.19-3.45c0-.86-.07-2.18-.88-2.69a17.66,17.66,0,0,0-3.58-1.07,56.34,56.34,0,0,1-7.21-2.92C483.81,620,482.54,619.3,481.29,618.57Z' transform='translate(-52 -162.63)' fill='#fbbebe')
            ellipse(cx='450.2' cy='420.35' rx='8.52' ry='8.57' fill='#fbbebe')
            path(d='M513.93,600.18a13.66,13.66,0,0,0-1.65,3.09c-1,2.16-2.7,4-3.53,6.29s-.84,5.23-2.55,7.1a2.49,2.49,0,0,0-.75,1.08,5.16,5.16,0,0,1-.08.78c-.25.68-1.36.71-1.57,1.41-.06.2,0,.42-.1.62-.17.45-.77.52-1.16.79-.83.56-.66,1.86-1.25,2.67a2.25,2.25,0,0,1-2.13.75,7.5,7.5,0,0,1-2.21-.83,2.13,2.13,0,0,0-.8-.25,1.65,1.65,0,0,0-.92.32,5.67,5.67,0,0,0-2.3,4.85,15.84,15.84,0,0,0,1.32,5.43,2.18,2.18,0,0,0,.43.81,1.91,1.91,0,0,0,2.12.16,10,10,0,0,1,2.07-.93c1.32-.24,2.61.67,3.95.59a5.49,5.49,0,0,0,2.66-1.17,14.7,14.7,0,0,0,3.58-3c.58-.77,1-1.64,1.52-2.46a31.54,31.54,0,0,1,2.15-2.87l4.92-6a13.83,13.83,0,0,0,1.32-1.82,12.83,12.83,0,0,0,1-2.75,21.07,21.07,0,0,0,1-4.89,18.79,18.79,0,0,0-.36-4.1,14.49,14.49,0,0,0-1-3.91C518.54,599.68,515.94,597.84,513.93,600.18Z' transform='translate(-52 -162.63)' fill='#2f2e41')
            path(d='M531.05,589a9.6,9.6,0,0,0-3.94-7.8,11.41,11.41,0,0,0-9.69-11.11,11.07,11.07,0,0,0-21.81.59c-3.54-.8-6.78.24-7.37,2.42s1.91,5,5.64,6a10.51,10.51,0,0,0,3.62.36,11.08,11.08,0,0,0,7.62,4.75,11.37,11.37,0,0,0,8.32,8.58,9.55,9.55,0,0,0,2.57,3.55c0,.27,0,.55,0,.83a7.21,7.21,0,1,0,14.42,0,7.7,7.7,0,0,0-.69-3.19A9.64,9.64,0,0,0,531.05,589Z' transform='translate(-52 -162.63)' fill='#f86d70')
            path(d='M490.64,573.56c.59-2.18,3.83-3.22,7.37-2.42a11.26,11.26,0,0,1,11-9.48l.73,0a10.84,10.84,0,0,0-3.14-.47,11.26,11.26,0,0,0-11,9.48c-3.54-.8-6.78.24-7.37,2.42s1.91,5,5.64,6a11,11,0,0,0,2.14.37C492.44,578.39,490.05,575.79,490.64,573.56Z' transform='translate(-52 -162.63)' opacity='0.1')
            path(d='M518.37,597.59a7.52,7.52,0,0,1,0-.82,9.34,9.34,0,0,1-2.57-3.55,11.34,11.34,0,0,1-8.32-8.59,11.05,11.05,0,0,1-7.63-4.74,9.6,9.6,0,0,1-2.13-.06,11.11,11.11,0,0,0,7.35,4.37,11.37,11.37,0,0,0,8.32,8.58,9.55,9.55,0,0,0,2.57,3.55c0,.27,0,.55,0,.83a7.34,7.34,0,0,0,7.17,7.46A7.46,7.46,0,0,1,518.37,597.59Z' transform='translate(-52 -162.63)' opacity='0.1')
            ellipse(cx='505.04' cy='584.74' rx='1.31' ry='1.75' transform='translate(-302.82 261.95) rotate(-37.22)' fill='#fbbebe')

        div(class='workshop-content')
          div(class='workshop-content__caption') Workshop Online
          div(class='workshop-content__title')  Everything is sweet from Chocolate
          div(class='workshop-content__text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          div(class='workshop-content__utils')
            input(class='input',type='text',placeholder='Name') 
            input(class='input',type='text',placeholder='Email') 
            textarea(class='input',type='text',placeholder='Messages',rows='4') 
            button(class='workshop-content__utils-submit-button button--contained') SEND REQUESTION
    section(class='feature-products')
      div(class='container feature-products-row')
        p(class='feature-products-title') Feature Products
        tab-panel(class='feature-products-tab-panel')
    section.gallery
      div.gallery-row.container
        masonry-layout(gap='8')
          - var galleryIdx = 1;
            while galleryIdx < 11
              div
                img(src= require(`./assets/food${galleryIdx++}.jpeg`).default)
    section(class='benifit')
      div(class='container benifit-row')
        div(class='benifit-content')
          div(class='benifit-content-item')
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M46.3053 7.89723C42.7284 7.89723 39.8186 5.00809 39.8186 1.45703V0H10.1802V1.45703C10.1802 5.00828 7.27024 7.89723 3.6936 7.89723H2.22607V17.5867C2.22607 24.5495 4.3386 31.254 8.33554 36.9752C12.3325 42.6964 17.917 47.0101 24.4853 49.4497L24.9994 49.6407L25.5137 49.4497C32.0821 47.0101 37.6666 42.6965 41.6633 36.9752C45.6603 31.254 47.7728 24.5495 47.7728 17.5867V7.89723H46.3053ZM44.8379 17.5867H44.8378C44.8378 23.9531 42.9061 30.0831 39.2515 35.3143C35.7019 40.3955 30.7824 44.2625 24.9993 46.5242C19.2164 44.2624 14.2968 40.3955 10.7472 35.3143C7.09271 30.0832 5.16113 23.9531 5.16113 17.5867V10.6981C9.18346 10.0708 12.3694 6.90762 13.0012 2.91406H36.9978C37.6295 6.90762 40.8154 10.0708 44.8379 10.6981V17.5867Z" fill="#888888"/><path d="M31.5478 13.6885L21.8336 23.3333L18.4508 19.9747L12.2246 26.1564L21.8336 35.6967L37.774 19.8702L31.5478 13.6885ZM16.3754 26.1566L18.4509 24.0961L21.8337 27.4547L31.5479 17.8098L33.6233 19.8704L21.8337 31.5757L16.3754 26.1566Z" fill="#888888"/></g><defs><clipPath id="clip0"><rect width="49.9984" height="49.6407" fill="white"/></clipPath></defs></svg>
            div(class='benifit-content-item__denotation')
              p.benifit-content-item__denotation-title Free Shipping
              p.benifit-content-item__denotation-text Free Shipping On All US
          div(class='benifit-content-item')           
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M26.5622 10.1802V8.7259H29.4918V5.81727H26.5622V4.36295C26.5622 1.95722 24.5909 0 22.1678 0C19.7448 0 17.7734 1.95722 17.7734 4.36295V10.1802C17.7734 12.5859 19.7448 14.5432 22.1678 14.5432C24.5909 14.5432 26.5622 12.5859 26.5622 10.1802ZM23.6326 10.1802C23.6326 10.9821 22.9755 11.6345 22.1678 11.6345C21.3601 11.6345 20.703 10.9821 20.703 10.1802V8.7259H23.6326V10.1802ZM23.6326 5.81727H20.703V4.36295C20.703 3.56104 21.3601 2.90863 22.1678 2.90863C22.9755 2.90863 23.6326 3.56104 23.6326 4.36295V5.81727Z" fill="#888888"/>
              <path d="M42.3178 29.4132C42.1835 28.4803 41.9263 26.6926 41.4337 23.2689H44.1391V14.543H39.7447C37.8351 14.543 36.207 15.759 35.6023 17.4516H26.3106C25.7062 15.7587 24.077 14.543 22.1672 14.543C21.6537 14.543 21.1609 14.6317 20.7024 14.7931V14.543H2.92959V29.0861H0V31.9938H4.93391C1.92767 34.4126 0 38.1215 0 42.2719C0 46.2915 3.27469 49.6405 7.32397 49.6405C10.9233 49.6405 13.842 47.011 14.503 43.7263H35.4952C36.1564 47.0116 39.0754 49.6405 42.6742 49.6405C46.7225 49.6405 49.9982 46.2924 49.9982 42.2719V39.3633C49.9983 34.6593 46.7661 30.5638 42.3178 29.4132ZM39.7447 17.4516H41.2095V20.3602H39.7447C38.937 20.3602 38.2799 19.7078 38.2799 18.9059C38.2799 18.104 38.937 17.4516 39.7447 17.4516ZM5.85917 17.4516H17.7728V20.3602H5.85917V17.4516ZM5.85917 23.2689H17.7728V29.0861C15.372 29.0861 9.84683 29.0861 5.85917 29.0861V23.2689ZM7.32397 46.7318C5.44102 46.7318 3.7901 45.4552 3.18046 43.7243H11.4674C10.8578 45.4552 9.20691 46.7318 7.32397 46.7318ZM23.632 40.8176H3.03271C3.73972 35.8371 8.0218 31.9948 13.1831 31.9948H23.632V40.8176ZM29.4912 40.8176H26.5616V29.0861C25.1852 29.0861 23.5392 29.0861 22.1672 29.0861C21.3595 29.0861 20.7024 28.4337 20.7024 27.6318V25.9274C21.1609 26.0888 21.6537 26.1775 22.1672 26.1775H28.0264C28.8341 26.1775 29.4912 26.8299 29.4912 27.6318V40.8176ZM22.1672 23.2689C21.3595 23.2689 20.7024 22.6165 20.7024 21.8146V18.9059C20.7024 18.104 21.3595 17.4516 22.1672 17.4516C22.9749 17.4516 23.632 18.104 23.632 18.9059V20.3593H35.0994C34.4948 22.0532 32.8658 23.2689 30.956 23.2689C29.8604 23.2689 23.1258 23.2689 22.1672 23.2689ZM35.3504 24.7192V30.5405C35.3504 32.4396 34.1082 34.1066 32.4208 34.7345V27.6318C32.4208 27.0863 32.3184 26.5642 32.1334 26.0823C33.3262 25.89 34.4234 25.4117 35.3504 24.7192ZM35.4977 40.8176H32.4208V37.76C35.7011 37.0851 38.2799 34.1225 38.2799 30.5405V23.0187C38.335 23.0381 38.3903 23.0571 38.4463 23.0744C40.645 38.3551 38.8977 26.2158 39.7133 31.9168L40.805 32.0729C43.1608 32.4098 45.134 33.889 46.2044 35.9032C45.1567 35.3286 43.9536 35.0004 42.6743 35.0004C39.1373 35.0004 36.1783 37.5026 35.4977 40.8176ZM42.6743 46.7318C40.2923 46.7318 38.2799 44.6895 38.2799 42.2719C38.2799 40.5953 39.238 39.1375 40.6386 38.4072L41.2243 42.4776L44.1245 42.0663L43.5386 37.9942C45.5491 38.3939 47.0687 40.1599 47.0687 42.2719C47.0687 44.6895 45.0564 46.7318 42.6743 46.7318Z" fill="#888888"/>
            </svg>
            div(class='benifit-content-item__denotation')
              p.benifit-content-item__denotation-title Money Returns
              p.benifit-content-item__denotation-text Return It Within 30 Days
          div(class='benifit-content-item')           
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
              <g clip-path="url(#clip1)">
              <path d="M28.824 12.1819L32.2498 14.6983C32.6355 14.9815 32.4406 15.6082 31.953 15.6112L30.8779 15.6177C30.8768 15.6177 30.8759 15.6177 30.8748 15.6177C30.5982 15.6177 30.3725 15.3955 30.3707 15.1209C30.3657 14.3177 29.7064 13.669 28.897 13.6756C28.0881 13.6805 27.4363 14.3357 27.4412 15.1388C27.4509 16.6906 28.5092 17.996 29.9434 18.398V18.4683C29.9434 19.2715 30.5992 19.9227 31.4081 19.9227C32.2169 19.9227 32.8728 19.2715 32.8728 18.4683V18.3949C33.4435 18.2379 33.9659 17.9358 34.3932 17.5061C35.0379 16.8578 35.3897 15.9992 35.3833 15.086V15.0769C35.376 14.0102 34.8559 12.9945 33.9921 12.36L30.5663 9.84376C30.1773 9.55794 30.3816 8.94208 30.8663 8.94208H31.943C32.221 8.94208 32.4472 9.16634 32.4472 9.44198C32.4472 10.2452 33.103 10.8963 33.9119 10.8963C34.7208 10.8963 35.3766 10.2452 35.3766 9.44198C35.3766 7.88247 34.3155 6.56505 32.8727 6.16152V6.09152C32.8727 5.28835 32.2168 4.63721 31.408 4.63721C30.5991 4.63721 29.9433 5.28835 29.9433 6.09152V6.15959C28.497 6.56088 27.4326 7.87995 27.4326 9.44198C27.4327 10.5177 27.9528 11.5419 28.824 12.1819Z" fill="#888888"/>
              <path d="M31.4088 24.56C38.2306 24.56 43.7804 19.0513 43.7804 12.28C43.7804 5.50866 38.2305 0 31.4088 0C24.587 0 19.0371 5.50876 19.0371 12.2801C19.0371 19.0514 24.587 24.56 31.4088 24.56ZM31.4088 2.90863C36.6152 2.90863 40.8509 7.11268 40.8509 12.2801C40.8509 17.4474 36.6152 21.6515 31.4088 21.6515C26.2024 21.6515 21.9666 17.4474 21.9666 12.2801C21.9666 7.11268 26.2024 2.90863 31.4088 2.90863Z" fill="#888888"/>
              <path d="M47.991 27.8441C46.4068 25.8191 43.5467 25.4382 41.488 26.8562L35.9149 30.558C35.1404 29.1263 33.6176 28.1504 31.8691 28.1504H27.8936C25.8868 26.2817 23.2077 25.2207 20.4443 25.2207C18.3702 25.2207 16.3526 25.8024 14.6098 26.9031C13.0395 27.8948 11.7549 29.2648 10.8723 30.8822L10.126 31.3352L9.93264 30.7738C9.67093 30.0139 8.83854 29.6084 8.07313 29.868L-0.00852346 32.6098C-0.773634 32.8693 -1.1826 33.6965 -0.920895 34.4565L3.96888 48.6566C4.23069 49.4169 5.06337 49.8218 5.82839 49.5624L13.91 46.8208C14.6318 46.5759 15.1046 45.7937 14.8062 44.9271L27.6301 44.5329C31.1224 44.5283 34.4715 43.4634 37.3164 41.4531L46.9871 34.6234C49.2042 33.0566 49.6619 29.9784 47.991 27.8441ZM6.26704 46.3398L2.32499 34.8919L7.63448 33.0907C8.20643 34.7517 10.9862 42.8242 11.5765 44.5387L6.26704 46.3398ZM45.2889 32.2534L35.6181 39.083C33.2655 40.7455 30.4952 41.6242 27.6068 41.6242C27.5918 41.6242 27.5766 41.6244 27.5615 41.6249L13.8146 42.0473L11.097 34.155L12.7488 33.1521C12.7491 33.1519 12.7494 33.1516 12.7498 33.1513C12.993 33.0035 13.1831 32.7866 13.2991 32.5519C14.6472 29.8239 17.3851 28.1291 20.4443 28.1291C22.655 28.1291 24.7082 29.0078 26.2258 30.6033C26.5053 30.8973 26.9069 31.0587 27.2907 31.0587H31.8691C32.7843 31.0587 33.5288 31.7975 33.5288 32.7057C33.5288 33.6043 32.7967 34.3526 31.8691 34.3526H23.6048C22.7959 34.3526 22.1401 35.0038 22.1401 35.807C22.1401 36.6101 22.796 37.2613 23.6048 37.2613H31.8691C33.0959 37.2613 34.2485 36.787 35.1136 35.9268C35.7189 35.3261 36.1336 34.5871 36.3293 33.782L43.128 29.2661C43.1362 29.2607 43.1443 29.2552 43.1524 29.2495C43.9541 28.6935 45.0646 28.8449 45.6778 29.6285C46.3244 30.4546 46.1476 31.6465 45.2889 32.2534Z" fill="#888888"/>
              </g>
              </g>
              <defs>
              <clipPath id="clip0">
              <rect width="49.9983" height="49.6407" fill="white"/>
              </clipPath>
              <clipPath id="clip1">
              <rect width="49.9983" height="49.6407" fill="white" transform="translate(-1)"/>
              </clipPath>
              </defs>
              </svg>
              div(class='benifit-content-item__denotation')
                p.benifit-content-item__denotation-title Security Payment
                p.benifit-content-item__denotation-text We Ensure Secure Payment
          div(class='benifit-content-item')           
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0)">
              <path d="M46.3054 39.2546L33.2277 34.9984V30.5193C34.1616 29.1487 34.7913 27.5358 35.0134 25.7899H37.3738C39.435 25.7899 41.112 24.1249 41.112 22.0784V18.1032C41.112 17.3286 40.8714 16.6089 40.4609 16.0132V15.3511C40.4609 6.88648 33.5248 0 24.9992 0C16.4736 0 9.53749 6.88648 9.53749 15.3511V16.0132C9.12705 16.609 8.88644 17.3287 8.88644 18.1032V22.0784C8.88644 24.1249 10.5634 25.7899 12.6247 25.7899H14.9851C15.2104 27.5601 15.8549 29.1932 16.8103 30.576V34.9856L3.69295 39.2546C1.48413 39.9736 0 42.0074 0 44.3152V49.6407H49.9984V44.3152C49.9984 42.0074 48.5143 39.9736 46.3054 39.2546ZM19.7399 33.4179C21.2729 34.4009 23.074 34.9683 24.9992 34.9683C26.9411 34.9683 28.7565 34.3908 30.2981 33.3921V35.399C29.1859 36.3507 26.9417 37.9231 24.9992 37.9231C23.0602 37.9231 20.8385 36.3535 19.7399 35.4037V33.4179ZM32.1731 16.9856C30.0502 16.6115 28.4326 14.7673 28.4326 12.5539H25.503C25.503 15.0365 23.4687 17.0562 20.9682 17.0562H17.8253V15.6545C17.8253 11.7271 21.0435 8.53199 24.9992 8.53199C28.9549 8.53199 32.1731 11.7271 32.1731 15.6545V16.9856ZM17.8253 20.0662V19.965H20.9682C23.4241 19.965 25.6067 18.7813 26.9678 16.9585C28.1803 18.5823 30.0445 19.6987 32.1731 19.9233V24.3842C32.1731 24.9558 32.1126 25.5122 32.0013 26.0485H26.6803V28.9571H30.7571C29.4484 30.8385 27.3548 32.0596 24.9993 32.0596C21.0437 32.0596 17.8254 28.6165 17.8254 24.3842V20.0662H17.8253ZM38.1824 22.0784C38.1824 22.5211 37.8196 22.8813 37.3737 22.8813H35.1027V17.3004H37.3737C37.8196 17.3004 38.1824 17.6605 38.1824 18.1032V22.0784ZM24.9992 2.90863C31.5854 2.90863 37.0013 7.97906 37.4947 14.3947C37.4545 14.3935 37.4143 14.3917 37.3737 14.3917H35.0228C34.3955 9.45442 30.1396 5.62336 24.9992 5.62336C19.8588 5.62336 15.6029 9.45442 14.9755 14.3917H12.6246C12.5841 14.3917 12.5438 14.3935 12.5036 14.3947C12.9971 7.97906 18.413 2.90863 24.9992 2.90863ZM11.816 22.0784V18.1032C11.816 17.6605 12.1788 17.3004 12.6247 17.3004H14.8957V22.8813H12.6247C12.1788 22.8813 11.816 22.5211 11.816 22.0784ZM47.0688 46.7321H39.9122V43.7265H36.9826V46.7321H13.0158V43.7265H10.0862V46.7321H2.92959V44.3152C2.92959 43.2678 3.60311 42.3449 4.60562 42.0186L17.9229 37.6845C19.1865 38.7544 22.0223 40.8317 24.9993 40.8317C27.9699 40.8317 30.8237 38.7614 32.0997 37.6923L45.3929 42.0187C46.3953 42.3449 47.0688 43.2679 47.0688 44.3152V46.7321Z" fill="#888888"/>
              </g>
              <defs>
              <clipPath id="clip0">
              <rect width="49.9984" height="49.6407" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            div(class='benifit-content-item__denotation')
              p.benifit-content-item__denotation-title Support 24/7
              p.benifit-content-item__denotation-text Contact Us 24 Hours A Day
    section(class='call-to-action')
      div(class='call-to-action-row container')
        p(class='call-to-action__caption') Thank you dear customers
        p(class='call-to-action__title') Get Up To 30% Up Fruit Taste
        button.button--contained Shop now 
    section.contact
      div.contact-row.container
        div.contact-content
          div.call-us.contact-content__item
            <svg viewBox="-6 -6 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M30 22.0015C27.0922 22.0015 24.7266 24.273 24.7266 27.0652H28.2422C28.2422 26.1345 29.0307 25.3773 30 25.3773C30.9693 25.3773 31.7578 26.1345 31.7578 27.0652C31.7578 27.6661 31.4205 28.2268 30.8776 28.5282C29.252 29.4313 28.2422 31.1116 28.2422 32.9135V35.5047H31.7578V32.9135C31.7578 32.3126 32.0951 31.7519 32.638 31.4503C34.2636 30.5474 35.2734 28.8671 35.2734 27.0652C35.2734 24.273 32.9078 22.0015 30 22.0015Z" fill="#111111"/>
              <path d="M28.2422 38.8804H31.7578V42.2562H28.2422V38.8804Z" fill="#111111"/>
              <path d="M56.4425 23.9659C55.6739 10.6592 44.1082 0.0585938 30 0.0585938C15.8918 0.0585938 4.32609 10.6592 3.55746 23.9659C1.4898 24.6513 0 26.5376 0 28.753V35.5046C0 38.2967 2.36566 40.5683 5.27344 40.5683H12.7795C15.9853 46.5752 22.5009 50.6957 30 50.6957C37.4991 50.6957 44.0147 46.5752 47.2205 40.5683H52.9688V42.4812C52.9688 48.9962 47.4489 54.2966 40.6641 54.2966H28.2422V57.6724H40.6641C49.3874 57.6724 56.4844 50.8576 56.4844 42.4812V40.278C58.5303 39.5812 60 37.705 60 35.5046V28.753C60 26.5376 58.5102 24.6513 56.4425 23.9659ZM30 3.4344C42.0707 3.4344 51.9963 12.3756 52.9015 23.6892H47.2205C44.0147 17.6823 37.4991 13.5618 30 13.5618C22.5009 13.5618 15.9853 17.6823 12.7795 23.6892H7.09852C8.00367 12.3756 17.9293 3.4344 30 3.4344ZM10.6641 37.1925H5.27344C4.30418 37.1925 3.51562 36.4353 3.51562 35.5046V28.753C3.51562 27.8222 4.30418 27.065 5.27344 27.065H10.6641V37.1925ZM30 47.3199C21.2767 47.3199 14.1797 40.5051 14.1797 32.1288C14.1797 23.7524 21.2767 16.9376 30 16.9376C38.7233 16.9376 45.8203 23.7524 45.8203 32.1288C45.8203 40.5051 38.7233 47.3199 30 47.3199ZM56.4844 35.5046C56.4844 36.4353 55.6958 37.1925 54.7266 37.1925H49.3359V27.065H54.7266C55.6958 27.065 56.4844 27.8222 56.4844 28.753V35.5046Z" fill="#111111"/>
            </svg>
            div.contact-content__item-content
              div.contact-content__item-content__title Call us 24/7
              p.contact-content__item-content__text You have questions, contact us immediately for answers.
              div.call-us__phone-number +380951194092

          div.subscribe.contact-content__item
            <svg  viewBox="-12 -12 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M60 23.7965V23.7912C60 23.7412 59.9972 23.6916 59.9931 23.6423C59.9919 23.6288 59.9902 23.6154 59.9888 23.602C59.9845 23.5633 59.9791 23.525 59.9725 23.487C59.97 23.4727 59.9675 23.4584 59.9647 23.4442C59.9554 23.3979 59.9447 23.352 59.9317 23.3069C59.9304 23.3024 59.9293 23.2979 59.928 23.2934C59.9143 23.2472 59.8984 23.2019 59.8811 23.1571C59.8745 23.14 59.8672 23.1232 59.8601 23.1063C59.8473 23.076 59.8336 23.0461 59.8191 23.0167C59.8106 22.9996 59.8025 22.9824 59.7936 22.9655C59.7717 22.9244 59.7484 22.8841 59.7233 22.8447C59.7139 22.83 59.7036 22.816 59.6938 22.8016C59.6742 22.7729 59.6539 22.7447 59.6327 22.7173C59.6214 22.7027 59.61 22.6881 59.5982 22.6737C59.5673 22.6363 59.5355 22.5998 59.5015 22.565C59.4988 22.5623 59.4962 22.5595 59.4935 22.5568C59.4572 22.5198 59.4185 22.485 59.3788 22.4513C59.3739 22.4471 59.3696 22.4424 59.3646 22.4383L56.3672 19.951V12.307C56.3672 10.0454 54.5272 8.20539 52.2656 8.20539H42.2137L34.1161 1.48527C31.7309 -0.493789 28.2689 -0.493789 25.8839 1.48527L17.7863 8.20528H7.73438C5.47277 8.20528 3.63281 10.0452 3.63281 12.3068V19.9509L0.635273 22.4385C0.630352 22.4426 0.626016 22.4473 0.621094 22.4515C0.581367 22.4853 0.542695 22.5201 0.506367 22.557C0.503672 22.5597 0.501094 22.5625 0.498398 22.5652C0.464531 22.6 0.432539 22.6366 0.401719 22.674C0.389883 22.6882 0.378516 22.7029 0.367148 22.7175C0.345937 22.7451 0.325664 22.7732 0.306094 22.8018C0.29625 22.8162 0.285937 22.8303 0.276562 22.8449C0.251484 22.8842 0.228164 22.9245 0.20625 22.9657C0.197227 22.9826 0.189141 22.9998 0.18082 23.017C0.166289 23.0464 0.152695 23.0763 0.139805 23.1065C0.132656 23.1234 0.125391 23.1402 0.118828 23.1573C0.101484 23.2021 0.0854297 23.2473 0.0718359 23.2936C0.0705469 23.2981 0.0694922 23.3025 0.0682031 23.3071C0.0551953 23.3522 0.0445313 23.3982 0.0351562 23.4445C0.0323438 23.4588 0.0298828 23.4729 0.0274219 23.4872C0.0207422 23.5252 0.0153516 23.5635 0.0111328 23.6022C0.00972656 23.6157 0.00796875 23.629 0.00679688 23.6425C0.0028125 23.6916 0 23.7412 0 23.7912V23.7965V23.7974V53.5545C0 55.3965 0.777891 57.0591 2.02102 58.2349C2.05629 58.2701 2.09168 58.305 2.12941 58.3368C3.27281 59.3697 4.78676 59.9997 6.44531 59.9997H53.5547C55.2134 59.9997 56.7274 59.3696 57.8709 58.3365C57.9083 58.3048 57.9435 58.2702 57.9785 58.2352C59.2219 57.0595 60 55.3966 60 53.5544V23.7974C60 23.7972 60 23.7968 60 23.7965ZM7.73438 11.7209H52.2656C52.5887 11.7209 52.8516 11.9838 52.8516 12.3068V25.9805L51.8569 26.806L31.871 43.3919C30.7869 44.2915 29.2131 44.2914 28.129 43.3919L8.14312 26.8061L7.14844 25.9805V12.3068C7.14844 11.9838 7.41129 11.7209 7.73438 11.7209ZM3.51562 53.5545V27.5342L4.27172 28.1617C4.27219 28.1621 4.27266 28.1625 4.27313 28.1629L21.4375 42.4072L3.69562 54.5656C3.57926 54.2504 3.51562 53.9097 3.51562 53.5545ZM24.2504 44.7415L25.8839 46.0972C28.2689 48.0765 31.7311 48.0763 34.1161 46.0972L35.7496 44.7415L52.8847 56.4842H7.11516L24.2504 44.7415ZM38.5625 42.4073L55.7268 28.1629C55.7272 28.1625 55.7277 28.1621 55.7282 28.1617L56.4843 27.5342V53.5545C56.4843 53.9097 56.4206 54.2504 56.3043 54.5656L38.5625 42.4073ZM28.129 4.19078C29.2131 3.29113 30.7869 3.29113 31.871 4.19078L36.7086 8.20539H23.2914L28.129 4.19078Z" fill="#111111"/>
            </svg>
            div.contact-content__item-content
              div.contact-content__item-content__title Subscribe Newsletter
              p.contact-content__item-content__text- Sign up for weekly newsletter and better ecommercestores
              div.subscribe__utils
                input.input.subscribe__utils-input(placeholder='Enter your email')
                button.subscribe__utils-button  Subscribe
    include includes/_footer.pug











